﻿@model NavMenuItem

@if(Model != null)
{ 
	@Html.HiddenFor(model => model.ID)
}

<div class="form-group">
	@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Title)
	</div>
</div>

<div class="form-group">
	@Html.LabelFor(model => model.URL, new { @class = "control-label col-md-2" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.URL, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.URL)
	</div>
</div>

<div class="form-group" id="divNavMenu">
	<label class="control-label col-md-2">Parent Item</label>
	<div class="col-md-10">
		@Html.DropDownList("parentItemID",
					((IEnumerable<NavMenuItem>)ViewBag.MenuItems).Select(i => new SelectListItem()
						{
							Text = i.Title,
							Value = i.ID.ToString(),
							Selected = Model != null && Model.Parent != null && Model.Parent.ID == i.ID
						}),
					"None (Root Menu)",
					new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Title)
	</div>
</div>

<div class="form-group">
	<div class="col-md-10 col-md-offset-2">
		<label class="checkbox">
			@Html.EditorFor(model => model.OpenInNewWindow)
			@Html.DisplayNameFor(model => model.OpenInNewWindow)
		</label>
		@Html.ValidationMessageFor(model => model.OpenInNewWindow)
	</div>
</div>

<div class="form-group">
	<div class="col-md-10 col-md-offset-2">
		<label class="checkbox">
			@Html.EditorFor(model => model.MembersOnly)
			@Html.DisplayNameFor(model => model.MembersOnly)
		</label>
		@Html.ValidationMessageFor(model => model.MembersOnly)
	</div>
</div>

<div class="form-group">
	@Html.LabelFor(model => model.ViewRole, new { @class = "control-label col-md-2" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.ViewRole, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.ViewRole)
	</div>
</div>

<div class="form-group">
	@Html.LabelFor(model => model.Permission, new { @class = "control-label col-md-2" })
	<div class="col-md-10">
		@Html.DropDownListFor(model => model.Permission, 
			Enum.GetValues(typeof(PermissionTypes)).OfType<PermissionTypes>().Select(t => new SelectListItem()
			{
				Text = t.GetDescription(),
				Value = t.ToString()
			}),
			"None",
			new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Permission)
	</div>
</div>