﻿@model NPCPortal.Models.NavMenuItem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NavMenuItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenInNewWindow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenInNewWindow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembersOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembersOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
