﻿@model NPCPortal.Models.NavMenuItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NavMenuItem</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenInNewWindow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenInNewWindow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembersOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembersOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
