﻿@model IEnumerable<NPCPortal.Models.NavMenuItem>

@{
    ViewBag.Title = "Navigation";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	@Html.ActionLink("Create New item", "Create", null, new { @class = "pull-right btn btn-default" })
	<h2>Navigation</h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.URL)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Parent)
			</th>
			<th>
				New Window
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MembersOnly)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ViewRole)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Permission)
			</th>
			<th></th>
		</tr>
	</thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.Parent.Title)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenInNewWindow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembersOnly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewRole)
        </td>
        <td>
			@if(item.Permission != null)
			{ 
				@StringHelpers.GetEnumDescription(item.Permission)
			}
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
