﻿@model IEnumerable<User>
@{
    ViewBag.Title = "Approve";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("BulkApprove", "Users"))
{ 
	<div class="page-header">
		<h2>Approve New Users</h2>
	</div>

	if(Model.Count() > 0)
	{ 
		<table class="table">
			<thead>
				<tr>
					<th>
						<input id="cbCheckAll" type="checkbox" onchange="toggleCheckboxes()" />
					</th>
					<th>User Name</th>
					<th>Email </th>
					<th>IP Address</th>
					<th>Date Joined</th>
					@if(NPCPortalWeb.RegistrationSettings.RegistrationQuestions.Count > 0)
					{
						<th>Answers</th>
					}
				</tr>
			</thead>
			@foreach(var user in Model)
			{
				<tr>
					<td><input type="checkbox" name="cbUserAction" value="@user.Id" /></td>
					<td>@user.UserName</td>
					<td>@user.Email</td>
					<td>@user.IPAddress</td>
					<td>@user.DateJoined.ToTimeZoneString()</td>
					@if (NPCPortalWeb.RegistrationSettings.RegistrationQuestions.Count > 0)
					{
						<td><span class="glyphicon glyphicon-chevron-up" style="cursor: pointer" onclick="@("toggleAnswers(this, '" + user.Id + "')")"></span></td>
					}
				</tr>
				if(user.RegistrationAnswers.Count > 0)
				{ 
					<tr id="@("trUserAnswers" + user.Id)" style="display: none;">
						<td></td>
						<td colspan="5">
							<dl class="dl-horizontal">
								@foreach (var answer in user.RegistrationAnswers)
								{
									<dt>@answer.Question</dt>
									<dd><span style="white-space:pre-wrap">@answer.Answer</span></dd>
								}
							</dl>
						</td>
					</tr>
				}
			}
		</table>
		<div>
			<div class="btn-group">
				<button type="submit" class="btn btn-success" name="FormAction" value="ApproveSelected">Approve Selected</button>
			</div>
			<div class="btn-group">
				<button type="submit" class="btn btn-danger" name="FormAction" value="RejectSelected">Reject Selected</button>
			</div>
		</div>
		}
	else
	{
		<span>There are no users to approve.</span>
	}
}
<br />
<br />
@if(ViewBag.RecentApprovals.Count > 0)
{
	<h4>Recent Approvals</h4>
	<table class="table">
		<thead>
			<tr>
				<th>User Name</th>
				<th>Email </th>
				<th>IP Address</th>
				<th>Date Joined</th>
				<th>Approved On</th>
				<th>Approved By</th>
			</tr>
		</thead>
		@foreach (var user in ViewBag.RecentApprovals)
		{
			<tr>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>@user.IPAddress</td>
				<td>@(((DateTime)user.DateJoined).ToTimeZoneString())</td>
				<td></td>
			</tr>
		}
	</table>
}

<script type="text/javascript">
	function toggleCheckboxes() {
		$("[name=cbUserAction]").prop("checked", $("#cbCheckAll").prop("checked"));
	}

	function toggleAnswers(sender, userID) {
		$("#trUserAnswers" + userID).toggle();
		$(sender).toggleClass("glyphicon-chevron-up").toggleClass("glyphicon-chevron-down");
	}
</script>
