﻿@model NPCPortal.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<h2>User Details</h2>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
		
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateJoined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserState)
        </dt>

        <dd>
			@StringHelpers.GetEnumDescription(Model.UserState)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.Roles)
		</dt>

		<dd>
			@String.Join(", ", Model.Roles.Select(r => r.Role.Name).ToArray())
		</dd>

    </dl>
	<legend>
		Registration Answers
	</legend>
	@if(Model.RegistrationAnswers.Count == 0)
	{
		<span>No answers</span>
	}
	else
	{ 
		<dl class="dl-horizontal">
			@foreach (var answer in Model.RegistrationAnswers)
			{
				<dt>@answer.Question</dt>
				<dd><span style="white-space: pre-wrap">@answer.Answer</span></dd>
			}
		</dl>
	}
</div>
<br />
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
