﻿@model IEnumerable<NPCPortal.Models.User>

@{
	ViewBag.Title = "Users";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	var pager = ViewBag.Pager as Pager;
}

<div class="page-header">
	<h2>Users</h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				User Name
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DisplayName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateJoined)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserState)
			</th>
			<th></th>
		</tr>
	</thead>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.UserName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DisplayName)
			</td>
			<td>
				@item.DateJoined.ToShortDateString()
			</td>
			<td>
				@StringHelpers.GetEnumDescription(item.UserState)
			</td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
						<li>@Html.ActionLink("Roles", "UserRoles", new { id = item.Id })</li>
						<li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
						<li class="divider"></li>
						<li>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
					</ul>
				</div>
			</td>
		</tr>
	}

</table>

@Html.Partial("_Pager", pager)