﻿@model User
@{
	ViewBag.Title = "User Roles";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>User Roles</h2>
<legend>@Model.UserName</legend>

<table class="table">
	@foreach (var role in Model.Roles)
	{
		<tr>
			<td>@role.Role.Name</td>
			<td>
				@using (Html.BeginForm("RemoveRole", "Users", new { userID = Model.Id, role = role.Role.Name }, FormMethod.Post))
				{
					@Html.AntiForgeryToken()
					<button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
				}
			</td>
		</tr>
	}
	@using (Html.BeginForm("AddRole", "Users", new { userID = Model.Id }, FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<tr>
			<td>
				@Html.DropDownList("Role", 
				((IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)ViewBag.Roles).Select(r => new SelectListItem() { Text = r.Name, Value = r.Name }),
				"Select a Role", 
				new { required = "required", @class = "form-control" })
			</td>
			<td>
					<button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
			
			</td>
		</tr>
	}
</table>



