﻿@model NPCPortal.Models.User

@{
    ViewBag.Title = "Edit Profile";
	if(Model.Profile == null)
	{
		Model.Profile = new UserProfile();
	}
}

<div class="page-header">
	<h2>Edit @(Model.DisplayName)'s Profile</h2>
</div>

@using (Html.BeginForm("EditProfile", "Members", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(false)
		
		@Html.HiddenFor(model => model.Id)

		@Html.HiddenFor(model => model.Profile.ID)

		<div class="form-group">
			<label class="control-label col-md-2">Avatar</label>
			<div class="col-md-8">
				<input type="file" name="AvatarFile" />
				<span class="help-block">Avatar images are resized and cropped to 64x64 pixels. Acceptable formats are: .jpg, .gif, .png</span>
			</div>
		</div>

        <div class="form-group">
			<label class="control-label col-md-2">Display Name</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Profile.DisplayName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Profile.DisplayName)
				<span class="help-block">This will be how other users recognize you</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">Bio</label>
            <div class="col-md-8">
				@Html.MarkdownEditor("Profile.Bio", Model.Profile.Bio, new { rows = "20" })
                @Html.ValidationMessageFor(model => model.Profile.Bio)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">Tag Line</label>
            <div class="col-md-8">
				@Html.MarkdownEditor("Profile.TagLine", Model.Profile.TagLine, new { rows = "5" })
                @Html.ValidationMessageFor(model => model.Profile.TagLine)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">Show Email Address</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Profile.ShowEmailAddress)
                @Html.ValidationMessageFor(model => model.Profile.ShowEmailAddress)
				<span class="help-block">Only other registered members will be able to see it.</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "MemberProfile", new { id = Model.Id }, new { @class = "btn btn-sm btn-default" })
            </div>
        </div>
    </div>
}
