﻿@model IEnumerable<dynamic>
@{
	ViewBag.Title = "Members";
	var pager = ViewBag.Pager as Pager;
}

<div class="page-header">
	<h2>Members</h2>
</div>

<div class="row">
	@{ int index = 0; }
	@foreach (var item in Model)
	{
		if(index % 4 == 0)
		{
			@Html.Raw("</div><div class=\"row\">")
		}
		
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail" style="margin-bottom: 20px;">
				<a href="@Url.Action("MemberProfile", new { Id = item.User.Id })">
					@if (item.User.Profile != null && item.User.Profile.Avatar != null)
					{
						<img src="@item.User.Profile.Avatar.GetThumbnailURL(ThumbnailTypes.WideThumbnail)" style="max-width: 100%" />
					}
					else
					{
						<div class="text-center default-avatar" style="height: 168px">
							<span class="glyphicon glyphicon-user" style="font-size: 150px; margin-top: 9px;"></span>
						</div>
					}
				</a>
				<div class="caption">
					<h3>@item.User.DisplayName</h3>
					<p>
						@item.Posts Posts<br />
						@item.Likes Likes<br />
						Last seen @StringHelpers.GetTimeDelta(item.User.LastOnline)<br />
						Member since @item.User.DateJoined.ToShortDateString()
					</p>
				</div>
			</div>
		</div>
		index++;
	}
</div>

@Html.Partial("_Pager", pager)