﻿@model NPCPortal.Models.User

@{
	ViewBag.Title = Model.DisplayName + "'s Profile";
}

<div class="page-header">
	@if (User.Identity.IsAuthenticated && (User.Identity.GetUserId() == Model.Id || User.CanDo(PermissionTypes.EditUsers)))
	{
		<div class="pull-right">
			@Html.ActionLink("Edit", "EditProfile", new { id = Model.Id }, new { @class = "btn btn-default" })
		</div>
	}
	<h2>
		@(Model.DisplayName)'s Profile
	</h2>
</div>

<div class="row">
	<div class="col-md-8">
		<h3>Bio</h3>
		@if(String.IsNullOrEmpty(Model.Profile.Bio))
		{
			<em>Empty</em>
		}
		else
		{ 
			@Html.Raw(Model.Profile.Bio.DisplayMarkdown())
		}

		@if(!String.IsNullOrEmpty(Model.Profile.TagLine))
		{ 
			<br />
			@Html.Raw(Model.Profile.TagLine.DisplayMarkdown())
		}
		<h3>Recent Posts</h3>
		@foreach(var post in Model.AuthoredContent.OfType<ForumPost>().OrderByDescending(c => c.DateCreated).Take(10))
		{
			string url = "";
			string title = "";
			if(post is Discussion)
			{
				url = Url.Action("Discussion", "Forums", new { id = post.ID });
				title = ((Discussion)post).Title;
			}
			else
			{
				url = Url.Action("Discussion", "Forums", new { id = ((Reply)post).Discussion.ID }) + "#" + post.ID;
				title = ((Reply)post).Discussion.Title;
			}
			<h4><a href="@url">@title</a></h4>
			<p>
				@StringHelpers.Truncate(post.Text.StripMarkdown(), 250)
				<a href="@url">more</a>
			</p>
		}
	</div>
	<div class="col-md-4">
		@if (Model.Profile != null && Model.Profile.Avatar != null)
		{
			<a href="@Model.Profile.Avatar.URL" target="_blank" class="thumbnail">
				<img src="@Model.Profile.Avatar.GetThumbnailURL(ThumbnailTypes.WideThumbnail)" />
			</a>
			<br />
		}
		<div class="panel panel-default">
			<div class="panel-heading">@(Model.DisplayName)'s Info</div>
			<ul class="list-group">
				<li class="list-group-item">
					Posts <span class="label label-primary pull-right">@(Model.AuthoredContent.OfType<ForumPost>().Count())</span>
				</li>
				<li class="list-group-item">
					Likes <span class="label label-primary pull-right">@Model.AuthoredContent.Sum(c => c.UsersLikeThis.Count())</span>
				</li>
				<li class="list-group-item">
					Last Seen <span class="pull-right">@Model.LastOnline.ToRelativeString()</span>
				</li>
				<li class="list-group-item">
					Member Since <span class="pull-right">@Model.DateJoined.ToShortDateString()</span>
				</li>
				@if (User.Identity.IsAuthenticated && Model.Profile != null && Model.Profile.ShowEmailAddress)
				{
					<li class="list-group-item">
						@Html.DisplayNameFor(model => model.Email)
						<span class="pull-right">
							@Html.DisplayFor(model => model.Email)
						</span>
					</li>
				}
			</ul>
		</div>
	</div>
</div>