﻿@model NPCPortal.Models.User

@{
    ViewBag.Title = "Uploads";
}

<h2>@Model.DisplayName's Uploads</h2>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
			Description
        </th>
        <th>
			File Name
        </th>
        <th>
			File Size
        </th>
        <th>
			File Type
        </th>
		<th>
			Date Created
		</th>
        <th></th>
    </tr>

@foreach (var item in Model.AuthoredContent.OfType<NPCPortal.Models.File>()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title.Display())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description.Display())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileType)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.DateCreated)
		</td>
        <td>
            <a href="@item.URL">Download</a> |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
