﻿@model CMSPage

@if(Model != null)
{
	@Html.HiddenFor(model => model.ID)
}

<div class="form-group">
	@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Title)
	</div>
</div>

<div class="form-group">
	@Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
	<div class="col-md-10">
		@Html.MarkdownEditorFor(model => model.Body, new { rows = "20" })
		@Html.ValidationMessageFor(model => model.Body)
	</div>
</div>

<div class="form-group">
	<div class="col-md-10 col-md-offset-2">
		<label class="checkbox">
			@Html.EditorFor(model => model.IsHTML)
			@Html.DisplayNameFor(model => model.IsHTML)
			@Html.ValidationMessageFor(model => model.IsHTML)
		</label>
	</div>
</div>

<div class="form-group">	
	<div class="col-md-10 col-md-offset-2">
		<label class="checkbox">
			@Html.EditorFor(model => model.MembersOnly)
			@Html.DisplayNameFor(model => model.MembersOnly)
			@Html.ValidationMessageFor(model => model.MembersOnly)
		</label>
	</div>
</div>

<div class="form-group">
	@Html.LabelFor(model => model.ViewRole, new { @class = "control-label col-md-2" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.ViewRole, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.ViewRole)
	</div>
</div>

<div class="form-group">
	@Html.LabelFor(model => model.EditRole, new { @class = "control-label col-md-2" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.EditRole, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.EditRole)
	</div>
</div>
