﻿@model NPCPortal.Models.CMSPage

@{
	ViewBag.Title = "Create Page";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
	<h2>Create Page</h2>
</div>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="form-group">
			<div class="col-md-10 col-md-offset-2">
				<label class="checkbox">
					@Html.CheckBox("createNavItem", true, new { onclick = "$('#divNavMenu').toggle()" }) Create Navigation Item
				</label>
			</div>
		</div>
		<div class="form-group" id="divNavMenu">
			<label class="control-label col-md-2">Parent Navigation Item</label>
			<div class="col-md-10">
				@Html.DropDownList("parentItemID",
					((IEnumerable<NavMenuItem>)ViewBag.MenuItems).Select(i => new SelectListItem()
						{
							Text = i.Title,
							Value = i.ID.ToString()
						}),
					"None (Root Menu)",
					new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Title)
			</div>
		</div>

		@Html.Partial("_EditPage")

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
			</div>
		</div>
	</div>
}
