﻿@model NPCPortal.Models.CMSPage

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<h2>Delete</h2>
</div>

<h3>Are you sure you want to delete this page?</h3>
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.DateCreated)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DateCreated)
		</dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembersOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembersOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditRole)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
