﻿@model IEnumerable<NPCPortal.Models.CMSPage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	@Html.ActionLink("Create New", "Create", null, new { @class = "pull-right btn btn-default" })
	<h2>Pages</h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MembersOnly)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ViewRole)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EditRole)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateCreated)
			</th>
			<th></th>
		</tr>
	</thead>

@foreach (var item in Model) {
    <tr>
		<td>
			@Html.ActionLink(item.Title, "View", "Pages", new { area = "", id = item.ID }, new { target = "_blank" })
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.MembersOnly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditRole)
        </td>
		<td>
			@item.DateCreated.ToTimeZoneString()
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
