﻿@model NPCPortal.Models.Forum

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostRole)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.MembersOnly)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.MembersOnly)
		</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

		if (((IEnumerable<Forum>)ViewBag.Forums).Count() > 0)
		{
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<div class="radio">
						<input type="radio" name="CascadeOption" value="MoveDescendants" checked="checked" /> Move Discussions to
						@Html.DropDownList("MoveToForumID",
					((IEnumerable<Forum>)ViewBag.Forums).Select(f => new SelectListItem()
					{
						Text = f.Name,
						Value = f.ID.ToString()
					}), new { @class = "form-control" })
					</div>
				</div>
			</div>
		}

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<div class="radio">
					<input type="radio" name="CascadeOption" value="DeleteDescendants"
						   @(((IEnumerable<Forum>)ViewBag.Forums).Count() == 0 ? "checked=checked" : "") /> Delete Discussions
				</div>
			</div>
		</div>
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-danger" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-default" })
		</div>
    }
</div>
