﻿@model NPCPortal.Models.Forum

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Forum</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostRole)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.MembersOnly)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.MembersOnly)
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
