﻿@model NPCPortal.Models.Forum

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Forum</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ViewRole, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ViewRole, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ViewRole)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostRole, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PostRole, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PostRole)
            </div>
        </div>

		<div class="form-group">
			@Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("categoryID",
					((IEnumerable<ForumCategory>)ViewBag.Categories).Select(c => new SelectListItem()
					{
						Text = c.Name,
						Value = c.ID.ToString(),
						Selected = Model.Category != null && c.ID == Model.Category.ID
					}), new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">			
			<div class="col-md-10 col-md-offset-2">
				<div class="checkbox">
					<label>
						@Html.EditorFor(model => model.MembersOnly) Members Only
					</label>
					@Html.ValidationMessageFor(model => model.MembersOnly)
				</div>
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
