﻿@model User

<a class="pull-left" href="@Url.Action("MemberProfile", "Members", new { id = Model.Id })"
   data-toggle="popover" data-placement="right" data-html="true" data-trigger="hover" data-title="@(Model.DisplayName ?? "Anonymous")" data-url="@Url.Action("AvatarTooltip", "Members", new { userID = Model.Id })">
	@if (Model.Profile != null && Model.Profile.Avatar != null)
	{
		<img class="media-object" src="@Model.Profile.Avatar.GetThumbnailURL(ThumbnailTypes.Avatar)" alt="@Model.DisplayName" title="@Model.DisplayName">
	}
	else
	{
		<div class="default-avatar" style="height: 64px; width: 64px; text-align:center;">
			<span class="glyphicon glyphicon-user" style="font-size: 54px; margin-top: 5px;"></span>
		</div>
	}
</a>