﻿
@if (!String.IsNullOrEmpty(NPCPortalWeb.GeneralSettings.BannerHTML))
{
	@Html.Raw(NPCPortalWeb.GeneralSettings.BannerHTML)
}
else
{
	<div class="jumbotron">
		<h1>@NPCPortalWeb.GeneralSettings.SiteName</h1>
		<p class="lead">Welcome to the @NPCPortalWeb.GeneralSettings.SiteName website!</p>
	</div>
}