﻿
<style type="text/css">
	.fileinput-button {
		position: relative;
		overflow: hidden;
	}

		.fileinput-button input {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			opacity: 0;
			-ms-filter: 'alpha(opacity=0)';
			font-size: 200px;
			direction: ltr;
			cursor: pointer;
		}

	/* Fixes for IE < 8 */
	@@media screen\9 {
		.fileinput-button input {
			filter: alpha(opacity=0);
			font-size: 100%;
			height: 100%;
		}
	}
</style>

<!-- The fileinput-button span is used to style the file input field as button -->
<span class="btn btn-success fileinput-button">
	<i class="glyphicon glyphicon-plus"></i>
	<span>Add files...</span>
	<!-- The file input field used as target for the file upload widget -->
	<input id="fileupload" type="file" name="files[]" multiple>
</span>
<br>
<br>
<!-- The global progress bar -->
<div id="progress" class="progress" style="display: none">
	<div class="progress-bar progress-bar-success"></div>
</div>
<!-- The container for the uploaded files -->
<div id="files" class="files">
	<div class="clearfix"></div>
</div>
<input type="hidden" id="UploadedFileIDs" name="UploadedFileIDs" />

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/Content/jQuery-File-Upload-9.4.2/js/vendor/jquery.ui.widget.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/Content/JavaScript-Load-Image-1.11.0/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="/Content/JavaScript-Canvas-to-Blob-2.0.5/js/canvas-to-blob.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/Content/jQuery-File-Upload-9.4.2/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/Content/jQuery-File-Upload-9.4.2/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/Content/jQuery-File-Upload-9.4.2/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/Content/jQuery-File-Upload-9.4.2/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/Content/jQuery-File-Upload-9.4.2/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/Content/jQuery-File-Upload-9.4.2/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/Content/jQuery-File-Upload-9.4.2/js/jquery.fileupload-validate.js"></script>
<script>
	/*jslint unparam: true, regexp: true */
	/*global window, $ */
	$(function () {
		'use strict';
		// Change this to the location of your server-side upload handler:
		var url = '@Url.Action("Upload", "Files")';
		$('#fileupload').fileupload({
			url: url,
			dataType: 'json',
			autoUpload: true,
			acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
			maxFileSize: 5000000, // 5 MB
			// Enable image resizing, except for Android and Opera,
			// which actually support image resizing, but fail to
			// send Blob objects via XHR requests:
			disableImageResize: /Android(?!.*Chrome)|Opera/
				.test(window.navigator.userAgent),
			previewMaxWidth: 64,
			previewMaxHeight: 64,
			previewCrop: true
		}).on('fileuploadadd', function (e, data) {
			data.context = $('<div class="pull-left" />');
			$('#files .clearfix').before(data.context);
			$.each(data.files, function (index, file) {
				var node = $('<p/>');
						//.append($('<span/>').text(file.name));
				$("#progress").show();
				//if (!index) {
				//	node.append('<br>')
				//		.append(uploadButton.clone(true).data(data));
				//}
				node.appendTo(data.context);
			});
		}).on('fileuploadprocessalways', function (e, data) {
			var index = data.index,
				file = data.files[index],
				node = $(data.context.children()[index]);
			if (file.preview) {
				node.prepend('<br>')
					.prepend(file.preview);
			}
			if (file.error) {
				node.append('<br>')
					.append($('<span class="text-danger"/>').text(file.error));
			}
			if (index + 1 === data.files.length) {
				data.context.find('button')
					.text('Upload')
					.prop('disabled', !!data.files.error);
			}
		}).on('fileuploadprogressall', function (e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10);
			$('#progress .progress-bar').css('width', progress + '%');
		}).on('fileuploaddone', function (e, data) {
			$("#progress").hide();
			$.each(data.result.files, function (index, file) {
				if (file.id)
					$("#UploadedFileIDs").val($("#UploadedFileIDs").val() + "," + file.id)
				if (file.url) {
					var link = $('<a>')
						.attr('target', '_blank')
						.prop('href', file.url);
					$(data.context.children()[index])
						.wrap(link);
				} else if (file.error) {
					var error = $('<span class="text-danger"/>').text(file.error);
					$(data.context.children()[index])
						.append('<br>')
						.append(error);
				}
			});
		}).on('fileuploadfail', function (e, data) {
			$("#progress").hide();
			$.each(data.files, function (index, file) {
				var error = $('<span class="text-danger"/>').text('File upload failed.');
				$(data.context.children()[index])
					.append('<br>')
					.append(error);
			});
		}).prop('disabled', !$.support.fileInput)
			.parent().addClass($.support.fileInput ? undefined : 'disabled');
	});
</script>