﻿<li class="dropdown">
	<a href="@Url.Action("Index", "Forums", new { id = "", area = "" })" class="dropdown-toggle disabled" data-toggle="dropdown">Forums <b class="caret"></b></a>
	<ul class="dropdown-menu">
		@foreach (var category in ((System.Collections.Generic.IEnumerable<ForumCategory>)ViewBag.ForumCategories).Where(c => c.ParentCategory == null).OrderBy(c => c.Name))
		{ 
			@RenderCategoryLinks(category)
		}
	</ul>
</li>

@helper RenderCategoryLinks(ForumCategory category, bool isChild = false)
{	
	if((String.IsNullOrEmpty(category.RestrictedToRole) || User.IsInRole(category.RestrictedToRole))
		&& (!category.MembersOnly || User.Identity.IsAuthenticated))
	{ 
		<li class="dropdown-submenu">
			<a data-toggle="dropdown" href="@Url.Action("Index", "Forums", new { area = "", id = category.ID })" class="disabled">@category.Name</a>
			<ul class="dropdown-menu">
				@foreach (var child in category.ChildCategories.OrderBy(c => c.Name))
				{
					@RenderCategoryLinks(child, true)
				}
				@RenderForumLinks(category)
			</ul>
		</li>
	}
}

@helper RenderForumLinks(ForumCategory category)
{
	foreach (var forum in category.Forums.OrderBy(f => f.Name))
	{
		if ((String.IsNullOrEmpty(forum.ViewRole) || User.IsInRole(forum.ViewRole))
			&& (!forum.MembersOnly || User.Identity.IsAuthenticated))
		{
			<li>@Html.ActionLink(forum.Name, "Forum", "Forums", new { id = forum.ID, area = "" }, null)</li>
		}
	}
}