﻿@model IEnumerable<NPCPortal.Models.File>

@if (Model.Count() > 0)
{
	<div>
		<div class="gallery">
			@foreach (var image in Model)
			{
				<a href="@image.URL" title="@image.Title.Display()">
					<img src="@image.GetThumbnailURL(ThumbnailTypes.Avatar)" alt="@image.Title.Display()">
				</a>
			}
		</div>

		@*Set the gallery functionality once per page request*@
		@if (Context.Items["gallery"] == null)
		{
			<link rel="stylesheet" href="/Content/Gallery-2.12.1/css/blueimp-gallery.min.css">
			<script src="/Content/Gallery-2.12.1/js/blueimp-gallery.min.js"></script>

			Context.Items["gallery"] = "set";
			<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
			<div id="blueimp-gallery" class="blueimp-gallery">
				<div class="slides"></div>
				<h3 class="title"></h3>
				<a class="prev">‹</a>
				<a class="next">›</a>
				<a class="close">×</a>
				<a class="play-pause"></a>
				<ol class="indicator"></ol>
			</div>
			<script type="text/javascript">
				$(document).ready(function () {
					$(".gallery").click(function (event) {
						event = event || window.event;
						var target = event.target || event.srcElement,
							link = target.src ? target.parentNode : target,
							options = { index: link, event: event },
							links = $(this).children('a');
						blueimp.Gallery(links, options);
					});
				});
			</script>
		}
	</div>
}