﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - @(NPCPortalWeb.GeneralSettings.SiteName)</title>
	@Styles.Render("~/Content/bootstrap-nested-dropdowns.css")
	@Scripts.Render("~/bundles/modernizr")
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/main.css")" />
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="@Url.Content("~/Content/typeahead.js/typeahead.min.js")"></script>

	@if (!String.IsNullOrEmpty(NPCPortalWeb.GeneralSettings.Favicon))
	{
		<link rel="shortcut icon" href="@Url.Content("~/UserFiles/" + NPCPortalWeb.GeneralSettings.Favicon)" />
	}
	<style type="text/css">
		.pointer { cursor: pointer; }

		@* On-hover menu dropdown support *@
		ul.nav li.dropdown:hover > ul.dropdown-menu {
			display: block;
		}
		.navbar .dropdown-menu {
			margin-top: 0px;
		}

		.dropdown .dropdown-menu {
			margin-top: 0px;
		}

		@*Reduce size of bootstrap block-quote text*@
		blockquote p {
			font-size: inherit;
		}

		.default-avatar {
			background-color: #f6f6f6;
			color: white;
		}

	</style>
</head>
<body style="padding-top: 70px">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">		
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>		
				<a href="/" class="navbar-brand">@NPCPortalWeb.GeneralSettings.SiteName</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					@Html.Partial("_NavItems")
					@if (User.CanDoAny(Role.AdminAccessPermissions))
					{ 
						<li>@Html.ActionLink("Admin", "Index", "Home", new { area = "Admin" }, null)</li>
					}
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@if (NPCPortalWeb.GeneralSettings.ShowBannerEverywhere)
		{
			@Html.Partial("_BannerHTML")
		}
		@if (User.Identity.IsAuthenticated)
		{
			var registrationSettings = NPCPortalWeb.SiteSettings.OfType<RegistrationSettings>().First();
			if(registrationSettings.RequireEmailValidation && !ViewBag.CurrentUser.UserState.HasFlag(UserStates.EmailValidated))
			{
				<div class="alert alert-warning">
					Your email address has not been confirmed. You must confirm your email address before you can use this site.
					You may manage your email in your @Html.ActionLink("Account Settings", "Manage", "Account")
				</div>
			}
			else if(registrationSettings.RequireApproval && !ViewBag.CurrentUser.UserState.HasFlag(UserStates.Approved))
			{
				<div class="alert alert-warning">
					Your account has not been approved yet. You will be allowed member privileges once a moderator has approved your account.
				</div>
			}
		}
		@RenderSection("head", required: false)
		@if (IsSectionDefined("side"))
		{ 
			<div class="row">
				<div class="col-md-9">
					@RenderBody()				
				</div>
				<div class="col-md-3">
					@RenderSection("side", required: false)
				</div>
			</div>
		}
		else
		{
			@RenderBody()
		}
		
		<hr />
		<footer>
			<div class="pull-right">Powered by <a href="https://bitbucket.org/albertbori/npc-portal">NPC Portal</a></div>
			<p>&copy; @DateTime.Now.Year - @NPCPortalWeb.GeneralSettings.SiteName</p>
		</footer>
	</div>

	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		$("[data-toggle=tooltip]").tooltip();
		$("[data-toggle=popover]:not([data-url])").popover();

		@*enable load state buttons (in order for this to work for javascript buttons, you have to put the click binder in a document.ready handler)*@
		$(document).ready(function () {
			$('[data-loading-text]').attr("autocomplete", "off"); //firefox remembers button states between requests
			$('[data-loading-text]:not([type=submit])').click(function () {
				$(this).button('loading');
			});
			$('[data-loading-text][type=submit]').closest("form").submit(function () {
				$(this).find("[data-loading-text][type=submit]").button('loading');
				return true;
			});
		});

		function PreventDuplicateSubmissions(button) {
			$(button).closest("form").submit(function () {
				$(this).find("[type=submit]:not([data-loading-text])").attr("disabled", "disabled");
				return true;
			});
		}

		jQuery.fn.preventDoubleSubmission = function () {
			$(this).on('submit', function (e) {
				var $form = $(this);

				if ($form.data('submitted') === true) {
					// Previously submitted - don't submit again
					e.preventDefault();
				} else {
					// Mark it so that the next submit can be ignored
					$form.data('submitted', true);
				}
			});

			// Keep chainability
			return this;
		};

		$(document).ready(function () {
			$('form:not([data-allow-double-submission])').preventDoubleSubmission();
		});

		//Wire up toolip URL loads
		$(document).ready(function () {
			$('*[data-toggle=popover][data-url]').on('mouseover', function () {
				var e = $(this);
				e.off("mouseover")
				e.popover({ content: "Loading..." }).popover('show')
				$.get(e.data('url'), function (d) {
					e.popover('destroy')
					e.popover({ content: d }).popover('show');
				});
			})
		});
	</script>
	@if(!String.IsNullOrEmpty(NPCPortalWeb.AnalyticsSettings.Snippet))
	{
		@Html.Raw(NPCPortalWeb.AnalyticsSettings.Snippet)
	}
</body>
</html>
