﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()
		<ul class="nav navbar-nav navbar-right">
			@if(User.CanDo(PermissionTypes.ViewMessages))
			{ 
			<li>
				<a href="@Url.Action("Index", "Messages", new { area = "" })">
					<span class="glyphicon glyphicon-inbox"></span>
					@{ int unreadCount = ((User)ViewBag.CurrentUser).ReceivedMessages.Count(m => m.Message.DateSent != null && m.DateRead == null); }
					@if (unreadCount > 0)
					{
						<span class="label label-primary">@unreadCount</span>
					}
				</a>
			</li>
			}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					@if (ViewBag.CurrentUser.Profile != null && ViewBag.CurrentUser.Profile.Avatar != null)
					{ 
						<img src="@ViewBag.CurrentUser.Profile.Avatar.GetThumbnailURL(ThumbnailTypes.Avatar)" style="max-height: 18px" />@:&nbsp;
					}
					@ViewBag.CurrentUser.DisplayName <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>@Html.ActionLink("Account", "Manage", "Account", routeValues: new { Area = "" }, htmlAttributes: new { title = "Manage" })</li>
					<li>@Html.ActionLink("Preferences", "Preferences", "Account", new { area = "", id = typeof(UserGeneralSettings).Name }, null)</li>
					<li>@Html.ActionLink("Profile", "MemberProfile", "Members", new { Id = User.Identity.GetUserId() }, new { Area = "" })</li>
					<li>@Html.ActionLink("My Files", "Index", "Files", new { UserId = User.Identity.GetUserId() }, new { Area = "" })</li>
					<li class="divider"></li>
					<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
				</ul>
			</li>
		</ul>
	}
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
