﻿@*Warning: This does not support multiple editors per page!*@
<div id="markDownToolbar">
	<div class="btn-group pull-left">
		<button class="btn btn-sm btn-default" type="button" onclick="h1()" data-toggle="tooltip" title="The largest header font">H1</button>
		<button class="btn btn-sm btn-default" type="button" onclick="h2()" title="The second largest header font">H2</button>
		<button class="btn btn-sm btn-default" type="button" onclick="h3()" title="The third largest header font">H3</button>
		<button class="btn btn-sm btn-default" type="button" onclick="h4()" title="The fourth largest header font">H4</button>
		<button class="btn btn-sm btn-default" type="button" onclick="bold()" title="Bold"><span class=" glyphicon glyphicon-bold"></span></button>
		<button class="btn btn-sm btn-default" type="button" onclick="italic()" title="Italic"><span class="glyphicon glyphicon-italic"></span></button>
		<button class="btn btn-sm btn-default" type="button" onclick="list()" title="Unordered List"><span class="glyphicon glyphicon-list"></span></button>
		<button class="btn btn-sm btn-default" type="button" onclick="link()" title="Embed a Hyperlink"><span class="glyphicon glyphicon-link"></span></button>
		<button class="btn btn-sm btn-default" type="button" onclick="image()" title="Embed an Image"><span class="glyphicon glyphicon-picture"></span></button>
	</div>
	<div class="pull-right">
		<button class="btn btn-sm btn-default" type="button" onclick="preview()"><span class="glyphicon glyphicon-eye-open"></span></button>
	</div>
	<div class="clearfix"></div>
</div>
<textarea name="@ViewData["name"]" class="form-control" @(ViewData.ContainsKey("htmlAttributes") ? String.Join(" ", (string[])ViewData["htmlAttributes"]) : "")>@(ViewData.ContainsKey("value") ? ViewData["value"] : "")</textarea>
<div id="divPreview"></div>

<script type="text/javascript">
	var postText = $("[name=@ViewData["name"]]");
	var divPreview = $("#divPreview");
	var btnPreview = $("#markDownToolbar .glyphicon-eye-open");
	var toolbarButtons = $("#markDownToolbar .btn-group");

	function h1() {
		postText.val(postText.val() + "#");
		postText.focus();
	}
	function h2() {
		postText.val(postText.val() + "##");
		postText.focus();
	}
	function h3() {
		postText.val(postText.val() + "###");
		postText.focus();
	}
	function h4() {
		postText.val(postText.val() + "####");
		postText.focus();
	}
	function bold() {
		postText.val(postText.val() + "**BoldText**");
		postText.focus();
	}
	function italic() {
		postText.val(postText.val() + "*ItalicText*");
		postText.focus();
	}
	function list() {
		var prePadding = ""
		if (postText.val().match(/(?:\r?\n){2,}$/)) {
			prePadding = ""
		} else if (postText.val().match(/(?:\r?\n)$/)) {
			prePadding = "\n"
		} else {
			prePadding = "\n\n"
		}
		postText.val(postText.val() + prePadding + "- Item");
		postText.focus();
	}
	function link() {
		postText.val(postText.val() + "[Text](URL)");
		postText.focus();
	}
	function image() {
		postText.val(postText.val() + "![OptionalDescription](ImageURL \"OptionalTitle\")");
		postText.focus();
	}
	function preview(e) {

		if (btnPreview.is(".glyphicon-eye-open")) {
			postText.hide();
			toolbarButtons.hide();
			divPreview.show();

			divPreview.html('<div class="panel panel-default text-center"><div class="panel-body"><span class="glyphicon glyphicon-time" style="font-size:100px"></span></div></div>');
			$.ajax({
				url: '@Url.Action("Preview", "Content")',
				data: { markdown: postText.val() },
				method: 'POST',
				success: function (data) {
					divPreview.html('<div class="panel panel-default"><div class="panel-body">' + data + '</div></div>');
				},
				error: function (data) {
					alert("Preview did not work: " + data.responseText);
				}
			});
		}
		else {
			divPreview.hide();
			postText.show();
			toolbarButtons.show();
			postText.focus();
		}

		btnPreview.toggleClass("glyphicon-eye-open").toggleClass("glyphicon-eye-close");
	}
</script>