﻿@{ IEnumerable<NavMenuItem> rootItems = ViewBag.MenuItems; }
@foreach(var item in rootItems)
{
	@RenderItem(item)
}

@helper RenderItem(NavMenuItem item, int level = 0)
{
	//override forum menu display logic
	if(System.Text.RegularExpressions.Regex.IsMatch(item.URL, @"^/forums/?$", System.Text.RegularExpressions.RegexOptions.IgnoreCase))
	{
		@Html.Partial("_ForumLinks")
		return;
	}
	
	if(CanView(item))
	{ 
		if(item.Children.Where(c => CanView(c)).Count() > 0)
		{
			string menuClass = level == 0 ? "dropdown" : "dropdown-submenu";
			<li class="@menuClass">
				<a href="@item.URL.ToLower()" class="dropdown-toggle" data-toggle="dropdown">@item.Title <b class="caret"></b></a>
				<ul class="dropdown-menu">
					@foreach(var child in item.Children.OrderBy(c => c.Title))
					{
						@RenderItem(child, level++)
					}
				</ul>
			</li>
		}
		else
		{
			string target = item.OpenInNewWindow ? "_blank" : "";
			<li><a href="@item.URL.ToLower()" target="@target">@item.Title</a></li>
		}
	}
}

@functions
{
	bool CanView(NavMenuItem item)
	{ 
		return (item.Permission == null || User.CanDo(item.Permission.Value))
		&& (String.IsNullOrEmpty(item.ViewRole) || User.IsInRole(item.ViewRole))
		&& (!item.MembersOnly || User.Identity.IsAuthenticated);
	}
}