﻿@model NPCPortal.Models.ViewModels.Pager

@if (Model.TotalPages > 1)
{
	<ul class="pagination">
		@if (!Model.IsFirstSet)
		{
			<li><a href="@Model.GetPageURL(Model.PreviousSetPage)">Prev</a></li>
		}
		@for (int i = Model.FirstPageInSet; i < Model.FirstPageInSet + Model.PagesInThisSet; i++)
		{
			var classText = (i == Model.CurrentPage) ? "class=active" : "";
			<li @classText><a href="@Model.GetPageURL(i)">@i</a></li>
		}
		@if (!Model.IsLastSet)
		{
			<li><a href="@Model.GetPageURL(Model.NextSetPage)">Next</a></li>
		}
	</ul>
}