﻿@model NPCPortal.Models.File

@{
    ViewBag.Title = "Delete";
}

<h2>Delete File</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@(Model.Title.Display() ?? Model.FileName)</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.DateCreated)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DateCreated)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FileSize)
		</dt>

		<dd>
			@StringHelpers.GetFileSize(Model.FileSize)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FileType)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FileType)
		</dd>

    </dl>

    @using (Html.BeginForm("Delete", "Files", new { userID = Request["userID"]}, FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Cancel", "Index", new { userID = Request["userID"] }, new { @class = "btn btn-sm btn-default" })
        </div>
    }
</div>
