﻿@model NPCPortal.Models.File

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
	<a href="@Model.URL" target="_blank" class="btn btn-default pull-right">Download</a>
	<h2>@(Model.Title.Display() ?? Model.FileName)</h2>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Model.Description.Display()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>

        <dd>
            @StringHelpers.GetFileSize(Model.FileSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { userID = Request["userID"] })
</p>
