﻿@model NPCPortal.Models.File

@{
    ViewBag.Title = "Edit";
}

<div class="page-header">
	<h2>Edit File</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

	<div class="row">
		<div class="form-horizontal col-md-8">
			@Html.ValidationSummary(true)
			@Html.HiddenFor(model => model.ID)

			<div class="form-group">
				@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Title)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Description)
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-primary" />
					@Html.ActionLink("Cancel", "Index", new { userID = Request["userID"] }, new { @class = "btn btn-sm btn-default" })
				</div>
			</div>
		</div>
		<div class="col-md-4">
			@if(Model.IsImage)
			{
				<img src="@Model.GetThumbnailURL(ThumbnailTypes.WideThumbnail)" />
			}
			else
			{
				<span class="glyphicon glyphicon-file" style="font-size: 150px"></span>
			}
		</div>
	</div>
}
