﻿@model IEnumerable<NPCPortal.Models.File>
@{
	ViewBag.Title = "Gallery";
	var pager = ViewBag.Pager as Pager;
}

<div class="page-header">
	<h2>Gallery</h2>
</div>

@Html.Partial("_ImageGallery", Model)

@Html.Partial("_Pager", pager)