﻿@model IEnumerable<NPCPortal.Models.File>
@{
	ViewBag.Title = "Index";
	var pager = ViewBag.Pager as Pager;
}

<div class="page-header">
	@if (User.CanDo(PermissionTypes.Upload))
	{
		<a href="@Url.Action("New", "Files")" class="btn btn-default pull-right">Upload New File</a>
	}
	<h2>Uploaded Files</h2>
</div>

@if(Model.Count() > 0)
{
<table class="table">
	<thead>
		<tr>
			<th>
				Title
			</th>
			<th>
				Size
			</th>
			<th>
				File Type
			</th>
			<th>
				Date Created
			</th>
			<th></th>
		</tr>
	</thead>
@foreach (var item in Model) {
    <tr>
        <td>
			@if(item.IsImage)
			{
				<span class="glyphicon glyphicon-picture"></span>
			}
			else
			{
				<span class="glyphicon glyphicon-file"></span>
			}
			&nbsp;
			<a href="@item.URL" target="_blank">
				@(item.Title.Display() ?? item.FileName)
			</a>
        </td>
        <td>
            @StringHelpers.GetFileSize(item.FileSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileType)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.DateCreated)
		</td>
        <td>
			@if(User.Identity.GetUserId() == item.Author.Id || User.CanDo(PermissionTypes.EditPosts))
			{ 
				@Html.ActionLink("Edit", "Edit", new { id=item.ID, userID = Request["userID"] }) @:|
			}
            @Html.ActionLink("Details", "Details", new { id = item.ID, userID = Request["userID"] })
			@if(User.Identity.GetUserId() == item.Author.Id || User.CanDo(PermissionTypes.EditPosts))
			{
				@: |
				@Html.ActionLink("Delete", "Delete", new { id = item.ID, userID = Request["userID"] })
			}
        </td>
    </tr>
}

</table>

@Html.Partial("_Pager", pager)
}
else
{
	<div class="alert alert-warning">There are no files. <a href="@Url.Action("New", "Files")">Upload some!</a></div>
}