﻿
<ul class="nav nav-pills nav-stacked" style="margin-top: 15px">
	<li>
		<a href="@Url.Action("Index")">
			Inbox
			@if (ViewBag.UnreadCount != null && ViewBag.UnreadCount > 0)
			{ 
				<span class="label label-default">@ViewBag.UnreadCount</span>
			}
		</a>
	</li>
	<li>@Html.ActionLink("Sent", "Sent")</li>
	<li>@Html.ActionLink("Drafts", "Drafts")</li>
</ul>