﻿@model IEnumerable<dynamic>
<table class="table">
	<thead>
		<tr>
			<th>
				Subject
			</th>
			<th>
				From
			</th>
			<th>
				Date
			</th>
			@if (!ViewData.ContainsKey("showDelete") || (bool)ViewData["showDelete"])
			{ 
				<th></th>
			}
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		Message m = (Message)item.Message;
		string subjectLine = (m.Subject.Display() ?? "[No Subject]");
		<tr>
			<td>
				@if (item.IsUnread)
				{
					<strong>
						@Html.ActionLink(subjectLine, "View", new { id = m.ID })
					</strong>
					if (item.ReplyCount > 0)
					{
						<label class="label label-default">@item.ReplyCount @StringHelpers.PluralizeWord("Reply", item.ReplyCount)</label>
					}
				}
				else
				{
					@Html.ActionLink(subjectLine, "View", new { id = m.ID })
					@:&nbsp;
					if (item.ReplyCount > 0)
					{
						<label class="label label-default">@item.ReplyCount @StringHelpers.PluralizeWord("Reply", item.ReplyCount)</label>
					}
				}
			</td>
			<td>
				@item.From.DisplayName
			</td>
			<td>
				@(((DateTime)item.Date).ToRelativeString())
			</td>
			@if(!ViewData.ContainsKey("showDelete") || (bool)ViewData["showDelete"])
			{
				<td>
					@Html.ActionLink("Delete", "Delete", new { id = item.Message.ID })
				</td>
			}
		</tr>
	}
</table>