﻿@model NPCPortal.Models.Message

@{
    ViewBag.Title = "Delete";
}

<div class="page-header">
	<h2>Delete</h2>
	<h3>Are you sure you want to delete this message and all its replies?</h3>
</div>
<div>
	<div class="media">
		@Html.Partial("_Avatar", Model.Author)
		<div class="media-body">
			<div>
				<h4 class="media-heading pull-left">@Model.Subject.Display()</h4>
				<span class="pull-right">@Model.DateSent.Value.ToRelativeString()</span>
				<div class="clearfix"></div>
			</div>
			@Html.Raw(Model.Body.DisplayMarkdown())
		</div>
	</div>
	<br />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-danger" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
			</div>
	}
</div>
