﻿@model IEnumerable<Message>

@{
	ViewBag.Title = "Drafts";
}

<div class="row">
	<div class="col-md-3">@Html.Partial("_MessagesNav")</div>
	<div class="col-md-9">

		<div class="page-header">
			<a href="@Url.Action("New")" class="btn btn-default pull-right">New Message</a>
			<h2>Drafts</h2>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>
						Subject
					</th>
					<th>
						From
					</th>
					<th>
						Date
					</th>
					<th></th>
				</tr>
			</thead>
			@foreach (var item in Model)
			{
				string subjectLine = item.Subject.Display() ?? "[No Subject]";
				<tr>
					<td>
						@Html.ActionLink(subjectLine, "New", new { id = item.ID })
					</td>
					<td>
						@item.Author.DisplayName
					</td>
					<td>
						@item.DateCreated.ToRelativeString()
					</td>
					<td>
						@Html.ActionLink("Delete", "DeleteDraft", new { id = item.ID })
					</td>
				</tr>
			}
		</table>
	</div>
</div>
