﻿@model IEnumerable<dynamic>

@{
	ViewBag.Title = "Inbox";
}

<div class="row">
	<div class="col-md-3">@Html.Partial("_MessagesNav")</div>
	<div class="col-md-9">

		<div class="page-header">
			<a href="@Url.Action("New")" class="btn btn-default pull-right">New Message</a>
			<h2>Inbox</h2>
		</div>

		@Html.Partial("_MessageList")
	</div>
</div>
