﻿@model NPCPortal.Models.Message

@{
	ViewBag.Title = "Create";
}
@*Fix for typeahead styling*@
<style type="text/css">

	.twitter-typeahead .tt-query,
	.twitter-typeahead .tt-hint {
		margin-bottom: 0;
	}

	.twitter-typeahead .tt-hint {
		display: block;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		border: 1px solid transparent;
		border-radius: 4px;
	}

	.twitter-typeahead .hint-small {
		height: 30px;
		padding: 5px 10px;
		font-size: 12px;
		border-radius: 3px;
		line-height: 1.5;
	}

	.twitter-typeahead .hint-large {
		height: 45px;
		padding: 10px 16px;
		font-size: 18px;
		border-radius: 6px;
		line-height: 1.33;
	}

	.tt-dropdown-menu {
		min-width: 160px;
		margin-top: 2px;
		padding: 5px 0;
		background-color: #fff;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.2);
		*border-right-width: 2px;
		*border-bottom-width: 2px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		box-shadow: 0 5px 10px rgba(0,0,0,.2);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}

	.tt-suggestion {
		display: block;
		padding: 3px 20px;
	}

	.tt-suggestion.tt-is-under-cursor {
		color: #fff;
		background-color: #0081c2;
		background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
		background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
		background-image: -o-linear-gradient(top, #0088cc, #0077b3);
		background-image: linear-gradient(to bottom, #0088cc, #0077b3);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
	}

		.tt-suggestion.tt-is-under-cursor a {
			color: #fff;
		}

	.tt-suggestion p {
		margin: 0;
	}
	.twitter-typeahead {
		display: block !important;
	}

	.form-inline .twitter-typeahead {
		display: inline-block !important;
	}
</style>
<div class="row">
	<div class="col-md-3">@Html.Partial("_MessagesNav")</div>
	<div class="col-md-9">

		<div class="page-header">
			<h2>New Message</h2>
		</div>

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			
			if (Model != null && Model.ID > 0)
			{
				@Html.HiddenFor(model => model.ID)
			}
			
			<div class="form-horizontal">
				@Html.ValidationSummary(true)
				<input type="hidden" name="hfRecipients" value="@String.Join(",", Model != null ? Model.To.Select(r => r.Recipient.Id).ToArray() : new string[0])" />

				<div class="form-group">
					<label class="control-label col-md-2">Recipients</label>
					<div class="col-md-10">
						<input type="text" id="tbUserSearch" class="form-control" />
						<ul id="ulRecipients" class="list-unstyled" style="margin-top:10px;margin-bottom:0px;">
							@if(Model != null)
							{ 
								foreach(var recipient in Model.To)
								{
									<li data-value='@recipient.Recipient.Id'>@recipient.Recipient.DisplayName <span class='glyphicon glyphicon-remove' onclick='RemoveRecipient(this)' style='cursor: pointer'></span></li>
								}
							}
						</ul>
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Subject)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.MarkdownEditorFor(model => model.Body, new { required = "required", rows = "20" })
						@Html.ValidationMessageFor(model => model.Body)
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" name="Submit" value="Send" class="btn btn-primary" />
						<input type="submit" name="Submit" value="Save Draft" class="btn btn-default" />
						@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
					</div>
				</div>
			</div>
		}
	</div>
</div>
<script type="text/javascript">
	var hfRecipients = $("[name=hfRecipients]");
	$(document).ready(function () {
		$("#tbUserSearch").typeahead({
			remote: '@Url.Action("Search", "Members")?q=%QUERY'
		}).on('typeahead:selected', function (object, datum) {
			AddRecipient(datum);
		});
	});

	function AddRecipient(datum) {
		if ($("#ulRecipients li[data-value=" + datum.id + "]").length == 0) {
			$("#ulRecipients").append("<li data-value='" + datum.id + "'>" + datum.value + " <span class='glyphicon glyphicon-remove' onclick='RemoveRecipient(this)' style='cursor: pointer'></span></li>");
			UpdateRecipientsField()
		}
		
		$("#tbUserSearch").val("");
	}

	function RemoveRecipient(o) {
		$(o).parent("li").remove();
		UpdateRecipientsField()
		$("#tbUserSearch").val("");
	}

	function UpdateRecipientsField() {
		hfRecipients.val("");
		$("#ulRecipients li").each(function (i, o) {
			hfRecipients.val(hfRecipients.val() + "," + $(o).attr("data-value"));
		});
	}
	@*Fix typahead styling*@
	$('.typeahead.input-sm').siblings('input.tt-hint').addClass('hint-small');
	$('.typeahead.input-lg').siblings('input.tt-hint').addClass('hint-large');
</script>