﻿@model IEnumerable<dynamic>

@{
	ViewBag.Title = "Sent Messages";
}

<div class="row">
	<div class="col-md-3">@Html.Partial("_MessagesNav")</div>
	<div class="col-md-9">

		<div class="page-header">
			<a href="@Url.Action("New")" class="btn btn-default pull-right">New Message</a>
			<h2>Sent Messages</h2>
		</div>

		@Html.Partial("_MessageList", Model, new ViewDataDictionary(ViewData) { {"showDelete", false} })
	</div>
</div>
