﻿@model NPCPortal.Models.Message

@{
	ViewBag.Title = Model.Subject.Display() + " - Message";
}

<div class="row">
	<div class="col-md-3">@Html.Partial("_MessagesNav")</div>
	<div class="col-md-9">
		<div class="page-header">
			<h2>Message</h2>
		</div>
		@RenderMessage(Model)
		<h4>Reply</h4>
			@using (Html.BeginForm("Reply", "Messages"))
			{
				@Html.AntiForgeryToken()
				<div class="form-group">
					@Html.Hidden("inReplyToID", Model.InReplyTo != null ? Model.InReplyTo.ID : Model.ID)
					@Html.MarkdownEditor("body", null, new { Rows = "8", Required = "required" })
				</div>
				<button type="submit" class="btn btn-primary">Reply</button>
			}
	</div>
	<p>
		@Html.ActionLink("Back to Inbox", "Index")
	</p>
</div>

@helper RenderMessage(Message message)
{
	<div class="media">
		@Html.Partial("_Avatar", message.Author)
		<div class="media-body">
			<div>
				<h4 class="media-heading pull-left">@message.Subject.Display()</h4>
				<span class="pull-right">@message.DateSent.Value.ToRelativeString()</span>
				<div class="clearfix"></div>
			</div>
			<div class="text-muted">@message.Author.DisplayName</div>
			@Html.Raw(message.Body.DisplayMarkdown())
		</div>
	</div>
	<hr />
	foreach(var reply in message.Replies.OrderBy(r => r.DateSent))
	{ 
		@RenderMessage(reply)
	}
}