﻿
@{
	if (!String.IsNullOrEmpty(NPCPortalWeb.CurrentTheme))
	{
		Layout = "~/Themes/" + NPCPortalWeb.CurrentTheme + "/Shared/_Layout.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/_Layout.cshtml";
	}
}

<div class="row">
	<div class="col-md-12 col-lg-3">
		<ul class="nav nav-pills nav-stacked" style="margin-top: 15px">
			<li><a href="/Admin">Admin Home</a></li>
			@if(User.CanDo(PermissionTypes.SendBroadcasts))
			{ 
				<li>@Html.ActionLink("Email Broadcast", "Broadcast", "Email")</li>
			}
			@if(User.CanDoAny(PermissionTypes.CreateForums, PermissionTypes.EditForums, PermissionTypes.DeleteForums))
			{
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Forums <span class="caret"></span>
					</a>
					<ul class="dropdown-menu pull-right">
						<li><a href="@Url.Action("Index", "ForumCategories")">Forum Categories</a></li>
						<li><a href="@Url.Action("Index", "Forums")">Forums</a></li>
					</ul>
				</li>
			}
			@if(User.CanDo(PermissionTypes.ViewJobs))
			{ 
				<li>@Html.ActionLink("Jobs", "Index", "Jobs")</li>
			}
			@if(User.CanDo(PermissionTypes.ViewLogs))
			{ 
				<li>@Html.ActionLink("Logs", "Index", "Logs")</li>
			}
			@if(User.CanDo(PermissionTypes.EditNav))
			{ 
				<li>@Html.ActionLink("Navigation", "Index", "Navigation")</li>
			}
			@if(User.CanDoAny(PermissionTypes.CreatePages, PermissionTypes.EditPages, PermissionTypes.DeletePages))
			{
				<li>@Html.ActionLink("Pages", "Index", "Pages")</li>
			}
			@if(User.CanDoAny(PermissionTypes.CreateThemes, PermissionTypes.DeleteThemes, PermissionTypes.SwitchThemes))
			{ 
				<li>@Html.ActionLink("Themes", "Index", "Themes")</li>
			}
			@if (User.CanDoAny(PermissionTypes.EditUsers, PermissionTypes.DeleteUsers, PermissionTypes.ApproveUsers, PermissionTypes.CreateRoles, PermissionTypes.EditRoles, PermissionTypes.DeleteRoles))
			{ 
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Users <span class="caret"></span>
					</a>
					<ul class="dropdown-menu pull-right">
						@if (User.CanDo(PermissionTypes.ApproveUsers))
						{
							<li>@Html.ActionLink("Approve", "Approve", "Users")</li>
						}
						@if(User.CanDoAny(PermissionTypes.EditUsers, PermissionTypes.DeleteUsers))
						{
							<li>@Html.ActionLink("Manage", "Index", "Users")</li>
						}
						@if (User.CanDoAny(PermissionTypes.CreateRoles, PermissionTypes.EditRoles, PermissionTypes.DeleteRoles))
						{
							<li>@Html.ActionLink("Roles", "Index", "Roles")</li>
						}
					</ul>
				</li>
			}
			@if(User.CanDo(PermissionTypes.EditGeneralSettings))
			{ 
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						General Settings <span class="caret"></span>
					</a>
					<ul class="dropdown-menu pull-right">
						@foreach (var settingsType in NPCPortal.Models.SiteSetting.GetAllSiteSettingsTypes())
						{
							<li><a href="@Url.Action("Edit", "Settings", new { id = settingsType.Name })">@StringHelpers.GetTypeDisplayName(settingsType)</a></li>
						}
					</ul>
				</li>
			}
		</ul>
	</div>
	<div class="col-md-12 col-lg-9">
		@RenderBody()
	</div>
</div>


