﻿@model object
@using System.Reflection;
@using System.ComponentModel.DataAnnotations;

@{
	string callerPropertyName = ViewData["PropertyName"] as string;
	Type modelType = Model.GetType().Namespace != "System.Data.Entity.DynamicProxies" ? Model.GetType() : Model.GetType().BaseType;
}

@functions
{
	Dictionary<string, string> _templates = new Dictionary<string, string>();
}

@Html.Hidden(!String.IsNullOrEmpty(callerPropertyName) ? String.Format("{0}.AssemblyQualifiedName", callerPropertyName) : "AssemblyQualifiedName", modelType.AssemblyQualifiedName)

@RenderObject(Model, modelType, callerPropertyName)

@foreach(var template in _templates.Select(t => t.Value).ToArray())
{
	@Html.Raw(template)
}

@helper RenderObject(object obj, Type type, string fieldName, bool isCollectionItem = false)
{
	foreach (var propertyInfo in type.GetProperties().Where(p => p.CanWrite 
		&& !p.GetCustomAttributes(typeof(ScaffoldColumnAttribute), true).Cast<ScaffoldColumnAttribute>().Any(a => !a.Scaffold)))
	{
		@RenderControlStructure(obj == null ? obj : propertyInfo.GetValue(obj),
			propertyInfo.PropertyType,
			propertyInfo,
			!String.IsNullOrEmpty(fieldName) ? String.Format("{0}.{1}", fieldName, propertyInfo.Name) : propertyInfo.Name,
			StringHelpers.GetPropertyDisplayName(propertyInfo),
			StringHelpers.GetPropertyDescription(propertyInfo), isCollectionItem)
	}
}

@helper RenderControlStructure(object obj, Type type, PropertyInfo propertyInfo, string fieldName, string fieldLabel, string fieldDescription, bool isCollectionItem = false)
{
	if (!isCollectionItem)
	{
		if (fieldName.EndsWith("ID"))
		{
			@RenderEditControl(obj, type, propertyInfo, fieldName, fieldLabel, fieldDescription, isCollectionItem)
		}
		else
		{
			<div class="form-group">
				@if (type != typeof(Boolean))
				{
					<label for="@fieldName">@fieldLabel</label>
				}
				@RenderEditControl(obj, type, propertyInfo, fieldName, fieldLabel, fieldDescription, isCollectionItem)
			</div>
		}
	}
	else
	{
		<td style="@(fieldName.EndsWith("ID") ? "display: none" : "")">
			@RenderEditControl(obj, type, propertyInfo, fieldName, fieldLabel, fieldDescription, isCollectionItem)
		</td>
	}
}

@helper RenderEditControl(object obj, Type type, PropertyInfo propertyInfo, string fieldName, string fieldLabel, string fieldDescription, bool isCollectionItem = false)
{
	if (type != typeof(string) && (type.IsArray || type.GetInterfaces().Any(t => t.IsGenericType && t.GetGenericTypeDefinition() == typeof(IEnumerable<>))))
	{
		if (!String.IsNullOrEmpty(fieldDescription))
		{
			<span class="help-block">@fieldDescription</span>
		}
		@RenderCollection(obj, type, fieldName, fieldLabel, fieldDescription, isCollectionItem)
		return;
	}

	bool isCustomObject = false;
	if (fieldName.EndsWith("ID"))
	{
		<input type="hidden" name="@fieldName" value="@obj" />
		return;
	}
	if(propertyInfo.GetCustomAttributes(typeof(DropdownListAttribute), true).Any())
	{
		//It's a drop-down list for whatever type this is. Just go with it.
		var items = propertyInfo.GetCustomAttributes(typeof(DropdownListAttribute), true).Cast<DropdownListAttribute>().First().Items;
		foreach(var item in items)
		{
			if (obj != null && item.Value == obj.ToString())
			{ 
				item.Selected = true;
			}
		}
		@Html.DropDownList(fieldName, items, new { @class = "form-control" });		
	}
	else if(propertyInfo.GetCustomAttributes(typeof(FileUploadAttribute), true).Any())
	{
		var attribute = (FileUploadAttribute)propertyInfo.GetCustomAttribute(typeof(FileUploadAttribute), true);
		if(obj != null)
		{
			<p>
				<a href="@Url.Content(attribute.RelativeDirectory + (!attribute.RelativeDirectory.EndsWith("/") ? "/" : "") + (string)obj)" target="_blank">@obj</a>
				<span class="glyphicon glyphicon-remove pointer" onclick="$('[name=@fieldName]').val('');$(this).parent('p').remove()"></span>
			</p>
			<input type="hidden" name="@(fieldName + "Remove")" />
		}
		<input type="hidden" name="@fieldName" value="@obj" />
		if(String.IsNullOrEmpty(attribute.FileName))
		{ 
			<input type="file" name="@(fieldName + "File")" onchange="@("$('[name=" + fieldName + "]').val($(this).val())")" />
		}
		else if (attribute.FileName.Contains("."))
		{
			<input type="file" name="@(fieldName + "File")" onchange="@("$('[name=" + fieldName + "]').val('" + attribute.FileName + "')")" />
		}
		else //it's a GUID, add the appropriate file extension
		{
			<input type="file" name="@(fieldName + "File")" onchange="@("$('[name=" + fieldName + "]').val('" + attribute.FileName + "' + $(this).val().substring($(this).val().lastIndexOf('.')))")" />
		}
		if(attribute.FileExtensions.Length > 0)
		{
			<div class="help-block">Valid file types are "@String.Join("\", \"", attribute.FileExtensions)"</div>
		}
		<input type="hidden" name="@(fieldName + "Directory")" value="@attribute.RelativeDirectory" />
	}
	else if (type.IsEnum)
	{
		if (type.GetCustomAttributes(typeof(FlagsAttribute), false).Any())
		{
			@Html.CheckBoxList(
				fieldName,
				Enum.GetValues(type).Cast<Enum>().Select(e => new SelectListItem()
				{
					Text = StringHelpers.GetEnumDescription(e),
					Value = e.ToString(),
					Selected = obj != null && ((Convert.ToInt64(e) & (long)obj) != 0)
				}),
				3
			);
		}
		else
		{
			@Html.DropDownList(
				fieldName, 
				Enum.GetValues(type).Cast<Enum>().Select(e => new SelectListItem()
				{
					Text = StringHelpers.GetEnumDescription(e),
					Value = e.ToString(),
					Selected = (Convert.ToInt32(e) == (int)obj)
				}),
				new { @class = "form-control"}
			);
		}
	}
	else if (obj is Boolean)
	{
		<label class="checkbox">
			@Html.CheckBox(fieldName, (bool)obj)
			@if (!isCollectionItem)
			{
				@fieldLabel
			}
		</label>
	}
	else if (type == typeof(string) || obj is int || obj is decimal || obj is DateTime)
	{
		if (propertyInfo.GetCustomAttributes(typeof(DataTypeAttribute), true).Any(a => ((DataTypeAttribute)a).DataType == DataType.MultilineText))
		{
			<textarea class="form-control" rows="15" name="@fieldName" id="@fieldName">@obj</textarea>
		}
		else if (propertyInfo.GetCustomAttributes(typeof(DataTypeAttribute), true).Any(a => ((DataTypeAttribute)a).DataType == DataType.Password))
		{
			<input type="password" class="form-control" name="@fieldName" id="@fieldName" value="@obj" autocomplete="off" />
		}
		else
		{
			<input type="text" class="form-control" name="@fieldName" id="@fieldName" value="@obj" />
		}
	}
	else
	{
		isCustomObject = true;
	}
	if (!String.IsNullOrEmpty(fieldDescription) && !isCollectionItem)
	{
		<span class="help-block">@fieldDescription</span>
	}

	if (isCustomObject)
	{
		@RenderObject(obj, type, fieldName, isCollectionItem)
	}
}

@helper RenderCollection(object obj, Type type, string fieldName, string fieldLabel, string fieldDescription, bool isSubCollection = false)
{
	var collection = (System.Collections.IEnumerable)obj;
	Type itemType = type.GetInterfaces()
		.Where(t => t.IsGenericType == true && t.GetGenericTypeDefinition() == typeof(IEnumerable<>))
		.Select(t => t.GetGenericArguments()[0]).First();

	<table class="table" style="@(isSubCollection ? "margin-top:-8px" : "")">
		@if (collection != null)
		{
			<thead>
				<tr>
					@foreach (var property in itemType.GetProperties().Where(p => !p.Name.EndsWith("ID")))
					{
						var itemDescription = StringHelpers.GetPropertyDescription(property);
						<th>
							@StringHelpers.GetPropertyDisplayName(property)
							@if (!String.IsNullOrEmpty(itemDescription))
							{
								<span class="help" style="font-weight: normal">@itemDescription</span>
							}
						</th>
					}
					<th>
						<button type="button" class="btn btn-default btn-xs pull-right"
								onclick="@Html.Raw(String.Format("AddItem(this, '{0}', '{1}');", StringHelpers.jQueryFilterEscape(itemType.ToString()), fieldName))">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
					</th>
				</tr>
			</thead>
			foreach (var item in collection)
			{
				string index = String.Format("{0}-IDX", Guid.NewGuid());
				string itemFieldName = String.Format("{0}[{1}]", fieldName, index);
				<tr>
					@RenderObject(item, itemType, itemFieldName, true)
					<td>
						<input type="hidden" name="@String.Format("{0}.Index", fieldName)" value="@index" />
						<button type="button" class="btn btn-default btn-xs pull-right" onclick="$(this).parent().parent().remove()"><i class="glyphicon glyphicon-minus"></i></button>
					</td>
				</tr>
			}
			
			//Delay template rendering so that they aren't duplicated through nesting
			if (!_templates.Keys.Contains(itemType.ToString()))
			{
				_templates.Add(itemType.ToString(), RenderEditTemplate(itemType, true).ToHtmlString());
			}
		}
	</table>
}

@helper RenderEditTemplate(Type type, bool isSubCollection)
{
	<table data-collection-template="@type.ToString()" style="display: none;">
		<tr>
			@RenderObject(Activator.CreateInstance(type), type, "{0}[{1}]", isSubCollection)
			<td>
				<input type="hidden" name="{0}.Index" value="{1}" />
				<button type="button" class="btn btn-default btn-xs pull-right" onclick="$(this).parent().parent().remove()"><i class="glyphicon glyphicon-minus"></i></button>
			</td>
		</tr>
	</table>
}

<script type="text/javascript">
	var dynamicIndex = 1;
	function AddItem(caller, type, parentFieldName) {
		$(caller).closest('table').append($('table[data-collection-template=' + type + ']').html().replace(/\{0\}/g, parentFieldName).replace(/\{1\}/g, dynamicIndex));
		dynamicIndex++;
	}
</script>