﻿@model IEnumerable<NPCPortal.Models.Discussion>
@{
	ViewBag.Title = "Home";
	var pager = ViewBag.Pager as Pager;
}

@section head
{
	@if(!NPCPortalWeb.GeneralSettings.ShowBannerEverywhere)
	{
		@Html.Partial("_BannerHTML")
	}
}

<div class="page-header" style="margin-top: 0px;">
	<h2 style="margin-top: 0px;">News</h2>
</div>
@foreach (var discussion in Model)
{
	<div class="media">
		@Html.Partial("_Avatar", discussion.Author)
		<div class="media-body">
			<span class="pull-right">@discussion.DateCreated.ToRelativeString()</span>
			<h4 class="media-heading">@Html.ActionLink(discussion.Title.Display(), "Discussion", "Forums", new { id = discussion.ID }, null)</h4>
			<div class="text-muted">by @discussion.Author.DisplayName</div>
			@Html.Raw(discussion.Text.DisplayMarkdown())
		</div>
	</div>
	<hr />
}

@Html.Partial("_Pager", pager)

@section side
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Recent Activity</h3>
		</div>
		<div class="panel-body">
			@{ int count = 0;}
			@foreach(ForumPost post in ViewBag.RecentActivity)
			{
				if(!Model.Any(d => d.ID == post.ID))
				{
					count++;
					var discussionID = post is Discussion ? ((Discussion)post).ID : ((Reply)post).Discussion.ID;
					<p>
						<strong>@post.Author.DisplayName wrote:</strong><br />
						@StringHelpers.Truncate(post.Text.Display().StripMarkdown(), 150)
						<a href="@(Url.Action("Discussion", "Forums", new { id = discussionID }) + "#" + post.ID)">more</a><br />
						<em>@post.DateCreated.ToRelativeString()</em>
					</p>
				}
			}

			@if (count == 0)
			{
				<span>There is no recent activity.</span>
			}
		</div>
	</div>
}