﻿@model NPCPortal.Models.ForumPost

@using (Html.BeginForm("ConfirmDeletePost", "Forums", routeValues: new { postID = Model.ID }))
{
	@Html.AntiForgeryToken()

	<div class="modal fade" id="divPostEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this?</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger">All replies and attachments to this post will also be deleted!</div>
					<dl>
						@if(Model is Discussion)
						{
							<dt>
								Title
							</dt>
							<dd>
								@(((Discussion)Model).Title)
							</dd>
						}
						<dt>
							@Html.DisplayNameFor(model => model.Text)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Text)
						</dd>
					</dl>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger">Delete</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}