﻿@model Reply

@using (Html.BeginForm("SaveReply", "Forums", routeValues: new { inReplyToID = Model.InReplyTo.ID }))
{
	@Html.AntiForgeryToken()

	<div class="modal fade" id="divPostEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 70%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Reply to "@StringHelpers.Truncate(Model.InReplyTo.Text.StripMarkdown(), 50)"</h4>
				</div>
				<div class="modal-body">
					@Html.HiddenFor(m => m.ID)

					@Html.Partial("_EditPost")
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="btnReply">@(Model.ID == 0 ? "Reply" : "Save Changes")</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}

<script type="text/javascript">
	PreventDuplicateSubmissions($("#btnReply"));
</script>