﻿@model NPCPortal.Models.ForumPost

@Html.MarkdownEditorFor(model => model.Text, new { rows = 20, required = "required" })
<br />
@if(User.CanDo(PermissionTypes.Upload))
{ 
	@Html.Partial("_FileUpload")
}
@if(Model == null || Model.ID == 0)
{ 
	<div class="checkbox">
		@Html.CheckBox("watchDiscussion", true)
		<label>Watch This Discussion</label>
	</div>
}