﻿@model NPCPortal.Models.Discussion

@using (Html.BeginForm("SaveDiscussion", "Forums", routeValues: new { forumID = ViewBag.Forum.ID }))
{
	@Html.AntiForgeryToken()

	<div class="modal fade" id="divPostEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 70%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">@(Model.ID == 0 ? "Create a new Discussion" : "Edit Discussion") in @ViewBag.Forum.Name</h4>
				</div>
				<div class="modal-body">
					@Html.ValidationSummary(true)

					@if(Model.ID > 0)
					{ 
						@Html.HiddenFor(m => m.ID)
					}

					<div class="form-group">
						@Html.LabelFor(model => model.Title)
						@Html.TextBoxFor(model => model.Title, new { required = "required", @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Title)
					</div>

					@Html.Partial("_EditPost")
					@if (User.CanDo(PermissionTypes.FeatureDiscussions))
					{
						<div class="checkbox">
							<label>
								@Html.EditorFor(model => model.IsFeatured) @Html.LabelFor(model => model.IsFeatured)
								@Html.ValidationMessageFor(model => model.IsFeatured)
							</label>
						</div>
					}
					@if (User.CanDo(PermissionTypes.LockDiscussions))
					{
						<div class="checkbox">
							<label>
								@Html.EditorFor(model => model.IsLocked) @Html.LabelFor(model => model.IsLocked)
								@Html.ValidationMessageFor(model => model.IsLocked)
							</label>
						</div>
					}
					@if (User.CanDo(PermissionTypes.StickyDiscussions))
					{
						<div class="checkbox">
							<label>
								@Html.EditorFor(model => model.IsSticky) @Html.LabelFor(model => model.IsSticky)
								@Html.ValidationMessageFor(model => model.IsSticky)
							</label>
						</div>
					}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="btnSaveDiscussion">@(Model.ID == 0 ? "Create Discussion" : "Save Discussion")</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}
@if(Model.ID == 0)
{ 
	<script type="text/javascript">

		$("#divPostEditor").on('hidden.bs.modal', function (e) {
			$("#divPostEditor").find("input[type!=hidden],textarea").val(""); //clear form on close
		});

	</script>
}
<script type="text/javascript">
	if (typeof PreventDuplicateSubmissions != 'undefined') {
		PreventDuplicateSubmissions($("#btnSaveDiscussion"));
	}
</script>