﻿@model ForumPost

@using (Html.BeginForm("ConfirmFlagPost", "Forums", routeValues: new { postID = Model.ID }))
{
	@Html.AntiForgeryToken()
	<!-- Modal -->
	<div class="modal fade" id="divPostEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Are you sure you want to flag this content as inappropriate?</h4>
				</div>
				<div class="modal-body">
					<dl>
						@if(Model is Discussion)
						{ 
							<dt>Title</dt>
							<dd>@(((Discussion)Model).Title.Display())</dd>
						}
						<dt>Text</dt>
						<dd>@StringHelpers.Truncate(Model.Text.DisplayMarkdown(), 250)</dd>
					</dl>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger">Report</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}