﻿@model Discussion

@{
	ViewBag.Title = Model.Title.Display() + " - Discussion";
}

<ol class="breadcrumb">
	<li>@Html.ActionLink("Home", "Index", controllerName: "Home")</li>
	<li>@Html.ActionLink("Forums", "Index")</li>
	<li class="active">@Html.ActionLink(Model.Forum.Name, "Forum", new { id = Model.Forum.ID })</li>
</ol>

<div class="page-header">
	@if(User.Identity.IsAuthenticated)
	{ 
		bool isWatching = ((User)ViewBag.CurrentUser).WatchedDiscussions.Any(wd => wd.ID == Model.ID);
		<span id="spWatch" 
			  class="@("pull-right glyphicon glyphicon-eye-open " + (isWatching ? "" : "text-muted"))" 
			  style="font-size: 25px; cursor: pointer; margin-top:5px;"></span>
		if(isWatching)
		{
			<script type="text/javascript">
				$(document).ready(function() {
					$("#spWatch").on("click", UnWatch_Click);
					$("#spWatch").tooltip({title : "Stop watching this thread"});
				});
			</script>
		}
		else
		{
			<script type="text/javascript">
				$(document).ready(function() {
					$("#spWatch").on("click", Watch_Click);
					$("#spWatch").tooltip({title : "Watch this thread"});
				});
			</script>
		}
	}
	<h2>@Model.Title.Display()</h2>
</div>

@DisplayPost(Model)

@helper DisplayPost(ForumPost post)
{			
	<div class="media" style="overflow: visible">
		<a id="@post.ID"></a>
		@Html.Partial("_Avatar", post.Author)
		<div class="pull-right" style="margin-left: 15px;">
			<p class="text-right">@post.DateCreated.ToRelativeString()</p>
			<div class="btn-toolbar pull-right">
				@if (User.Identity.IsAuthenticated && User.Identity.GetUserId() != post.Author.Id)
				{
					string likeStyle = ((User)ViewBag.CurrentUser).LikedContent.Any(c => c.ID == post.ID) ? "display: none" : "";
					string dislikeStyle = String.IsNullOrEmpty(likeStyle) ? "display: none" : "";

					<div class="btn-group" style="@likeStyle">
						<a class="btn btn-sm btn-default" data-action="like" data-post-id="@post.ID"><span class="glyphicon glyphicon-thumbs-up"></span></a>
					</div>
					<div class="btn-group" style="@dislikeStyle">
						<a class="btn btn-sm btn-default" data-action="dislike" data-post-id="@post.ID"><span class="glyphicon glyphicon-thumbs-down"></span></a>
					</div>
				}
				@if ((!Model.IsLocked || User.CanDo(PermissionTypes.ModeratePosts)) && User.CanDo(PermissionTypes.CreatePosts) && (String.IsNullOrEmpty(Model.Forum.PostRole) || User.IsInRole(Model.Forum.PostRole)))
				{
					<div class="btn-group">
						<a class="btn btn-sm btn-default" data-action="reply" data-reply-to="@post.ID">Reply</a>
					</div>
				}
				@if (User.CanDoAny(PermissionTypes.EditPosts, PermissionTypes.Flag, PermissionTypes.DeletePosts, PermissionTypes.MoveDiscussions) || User.Identity.GetUserId() == post.Author.Id)
				{
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-cog"></span>&nbsp;<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu" style="cursor: pointer">
							@if (User.Identity.GetUserId() == post.Author.Id || User.CanDo(PermissionTypes.EditPosts))
							{
								<li><a data-action="edit" data-post-id="@post.ID">Edit</a></li>
							}
							@if (User.CanDo(PermissionTypes.Flag))
							{
								<li><a data-action="flag" data-post-id="@post.ID">Flag</a></li>
							}
							@if (User.CanDo(PermissionTypes.DeletePosts))
							{
								<li><a data-action="delete" data-post-id="@post.ID">Delete</a></li>
							}
							@if (post is Discussion && User.CanDo(PermissionTypes.MoveDiscussions))
							{
								<li><a href="#divMoveDiscussion" data-toggle="modal">Move</a></li>
							}
						</ul>
					</div>
				}
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="media-body">
			
			<div class="text-muted">@post.Author.DisplayName wrote:</div>
			@Html.Raw(post.Text.DisplayMarkdown())
			@Html.Partial("_ImageGallery", post.Attachments)

			@if(post.Author.Profile != null && !String.IsNullOrEmpty(post.Author.Profile.TagLine))
			{
				@Html.Raw(post.Author.Profile.TagLine)
			}

			<div id="@("divLikeCount" + post.ID)" style="@("margin-top: 15px;" + (post.UsersLikeThis.Count() == 0 ? "display: none " : ""))">
				<span id="@("spLikeCount" + post.ID)" class="label label-primary">@post.UsersLikeThis.Count()</span> Likes
			</div>
			<div class="clearfix"></div>
		</div>
		@if (post.Replies.Count > 0)
		{
			<div class="thread">
				@foreach (var reply in post.Replies.OrderBy(r => r.DateCreated))
				{
					<hr />
					@DisplayPost(reply)
				}
			</div>
		}
	</div>
}

<div id="divEditorContent"></div>

@if(User.Identity.IsAuthenticated)
{
	<script type="text/javascript">
		$("[data-action=like]").click(function () {
			var likeButton = $(this);
			var spLikeCount = $("#spLikeCount" + $(this).attr("data-post-id"));
			var divLikeCount = $("#divLikeCount" + $(this).attr("data-post-id"));
			$.ajax({
				url: '@Url.Action("Like", "Content")',
				data: { userID: '@User.Identity.GetUserId()', postID: $(this).attr("data-post-id") },
				success: function() {
					likeButton.parent("div").hide();
					$("[data-action=dislike][data-post-id=" + likeButton.attr("data-post-id") + "]").parent("div").show();
					spLikeCount.text(parseInt(spLikeCount.text()) + 1);
					divLikeCount.show();
				}
			});
		});
		$("[data-action=dislike]").click(function () {
			var dislikeButton = $(this);
			var spLikeCount = $("#spLikeCount" + $(this).attr("data-post-id"));
			var divLikeCount = $("#divLikeCount" + $(this).attr("data-post-id"));
			$.ajax({
				url: '@Url.Action("Dislike", "Content")',
				data: { userID: '@User.Identity.GetUserId()', postID: $(this).attr("data-post-id") },
				success: function() {
					dislikeButton.parent("div").hide();
					$("[data-action=like][data-post-id=" + dislikeButton.attr("data-post-id") + "]").parent("div").show();
					spLikeCount.text(parseInt(spLikeCount.text()) - 1);
				}
			});
		});
	</script>
}

<script type="text/javascript">

	$(document).ready(function () {
		$("[data-action=reply]").click(function () {
			LoadEditor("/Forums/Reply", { replyToID: $(this).attr("data-reply-to") });
		});
		$("[data-action=flag]").click(function () {
			LoadEditor("/Forums/FlagPost", { postID: $(this).attr("data-post-id") });
		});
		$("[data-action=edit]").click(function () {
			LoadEditor("/Forums/EditPost", { postID: $(this).attr("data-post-id") });
		});
		$("[data-action=delete]").click(function () {
			LoadEditor("/Forums/DeletePost", { postID: $(this).attr("data-post-id") });
		});
	})

	function LoadEditor(url, data) {
		$.ajax({
			url: url,
			data: data,
			success: function (data) {
				$("#divEditorContent").html(data);
				$("#divPostEditor").modal("toggle");
			}
		})
	}
</script>

@if (User.CanDo(PermissionTypes.MoveDiscussions))
{
	using (Html.BeginForm("MoveDiscussion", "Forums", new { id = Model.ID }))
	{
		<div class="modal fade" id="divMoveDiscussion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Move Discussion</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<div class="control-label col-md-2">Forum</div>
								<div class="col-md-10">
									@Html.DropDownList("forumID", ((IEnumerable<Forum>)ViewBag.AllForums).Select(f => new SelectListItem() { Text = f.Name, Value = f.ID.ToString() }), new { @class = "form-control" })
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Move Discussion</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	}
}

<script type="text/javascript">
	function Watch_Click() {
		var btn = $("#spWatch");
		$.ajax({
			url: '@Url.Action("WatchDiscussion")',
			data: { id: @Model.ID },
			success: function () {
				var btn = $("#spWatch");
				btn.removeClass("text-muted");
				btn.off("click", Watch_Click).on("click", UnWatch_Click);

				btn.tooltip("destroy");
				btn.tooltip({ title: "Stop watching this discussion" });
				btn.tooltip("show");
			}
		});
	}

	function UnWatch_Click(btn) {
		var btn = $("#spWatch");
		$.ajax({
			url: '@Url.Action("UnWatchDiscussion")',
			data: { id: @Model.ID },
			success: function () {
				var btn = $("#spWatch");
				btn.addClass("text-muted");
				btn.off("click", UnWatch_Click).on("click", Watch_Click);

				btn.tooltip("destroy");
				btn.tooltip({ title: "Watch this discussion" });
				btn.tooltip("show");
			}
		});
	}
</script>