﻿@model NPCPortal.Models.Forum
@{
	ViewBag.Title = Model.Name + " - Forum";
	var pager = new Pager(Model.Discussions.Count());
}

@section head
{
	<ol class="breadcrumb">
		<li>@Html.ActionLink("Home", "Index", controllerName: "Home")</li>
		<li>@Html.ActionLink("Forums", "Index")</li>
	</ol>

	<div class="page-header">
		<h2 class="pull-left">@Model.Name <small>@Model.Description</small></h2>
		@if(User.CanDo(PermissionTypes.CreatePosts) && (String.IsNullOrEmpty(Model.PostRole) || User.IsInRole(Model.PostRole)))
		{
			<button class="btn btn-default pull-right" data-toggle="modal" data-target="#divPostEditor" style="margin-top:15px">
				New Discussion
			</button>
		}
		<div class="clearfix"></div>
	</div>
}

@foreach (var discussion in	Model.Discussions
	.OrderByDescending(d => d.IsSticky)
	.ThenByDescending(d => d.LastActivityDate)
	.Skip((pager.CurrentPage - 1) * pager.RecordsPerPage)
	.Take(pager.RecordsPerPage))
{
	bool isWatching = false;
	if (User.Identity.IsAuthenticated)
	{
		isWatching = ((User)ViewBag.CurrentUser).WatchedDiscussions.Any(wd => wd.ID == discussion.ID);
	}
	<div class="media">
		@Html.Partial("_Avatar", discussion.Author)
		<div class="media-body">
			@if(User.Identity.IsAuthenticated)
			{
				<span data-watch-id="@discussion.ID" data-is-watching="@isWatching" 
					  class="glyphicon glyphicon-eye-open text-muted pull-right" 
						style="cursor: pointer; font-size: 20px;"></span>
				
			}
			<h4 class="media-heading">
				@if (discussion.IsSticky)
				{
					<span class="glyphicon glyphicon-pushpin text-muted pointer" title="Sticky" data-toggle="tooltip"></span>
				}
				@if (discussion.IsLocked)
				{
					<span class="glyphicon glyphicon-lock text-muted pointer" title="Locked" data-toggle="tooltip"></span>
				}
				@if (discussion.IsFeatured)
				{
					<span class="glyphicon glyphicon-certificate text-muted pointer" title="Featured" data-toggle="tooltip"></span>
				}
				@RenderUnreadPosts(discussion) @Html.ActionLink(discussion.Title.Display(), "Discussion", new { id = discussion.ID })
				<small>@discussion.DateCreated.ToRelativeString()</small>
			</h4>
			<div class="text-muted">by @discussion.Author.DisplayName</div>
			@NPCPortal.Utilities.StringHelpers.Truncate(discussion.Text.StripMarkdown(), 150)
			<div>
				<span class="text-muted pull-left">
					@discussion.ViewCount @(discussion.ViewCount == 1 ? "view" : "views") &middot;
					@discussion.AllReplies.Count @(discussion.AllReplies.Count == 1 ? "reply" : "replies")
				</span>
				@if (discussion.AllReplies.Count > 0)
				{
					var latestReply = discussion.AllReplies.OrderByDescending(r => r.DateCreated).First();
					<em class="text-muted pull-right">(Last reply by @latestReply.Author.DisplayName <a href="@(Url.Action("Discussion", new { id = discussion.ID }) + "#" + latestReply.ID)">@latestReply.DateCreated.ToRelativeString("on")</a>)</em>
				}
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
	<hr />
}

@Html.Partial("_Pager", pager)

@section side
{
	@{ var forumStats = ViewBag.ForumStats as ForumStats; }
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Top Contributors</h3>
		</div>
		<ul class="list-group">
			@if (forumStats.TopContributors.Count == 0)
			{
				<div class="panel-body">
					There are no top contributors to this forum.
				</div>
			}
			@foreach (var contributor in forumStats.TopContributors)
			{
				var user = DisplayUser.GetFromCache(contributor.UserID);
				<li class="list-group-item">
					@Html.ActionLink(user.DisplayName, "MemberProfile", "Members", new { id = user.Id }, null)
					<span class="pull-right"><span class="label label-primary">@contributor.Value</span> Posts</span>
				</li>
			}
		</ul>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Popular Contributors</h3>
		</div>
		@if (forumStats.PopularContributors.Count == 0)
		{
			<div class="panel-body">
				There are no popular contributors to this forum.
			</div>
		}
		<ul class="list-group">
			@foreach (var contributor in forumStats.PopularContributors)
			{
				var user = DisplayUser.GetFromCache(contributor.UserID);
				<li class="list-group-item">
					@Html.ActionLink(user.DisplayName, "MemberProfile", "Members", new { id = user.Id }, null)
					<span class="pull-right"><span class="label label-primary">@contributor.Value</span> Likes</span>
				</li>
			}
		</ul>
	</div>
}
@if(User.CanDo(PermissionTypes.CreatePosts))
{
	@Html.Partial("_EditDiscussion", new Discussion())
}

@helper RenderUnreadPosts(Discussion discussion) {
	if (User.Identity.IsAuthenticated)
	{
		int unread = discussion.AllReplies.Count();
		string unreadAnchor = "";
		var viewedDiscussion = ((User)ViewBag.CurrentUser).ViewedContent.SingleOrDefault(d => d.Content.ID == discussion.ID);
		if (viewedDiscussion != null)
		{
			unread = discussion.AllReplies.Count(r => r.DateCreated > viewedDiscussion.ViewedOn);
			if (unread > 0)
			{
				unreadAnchor = "#" + discussion.AllReplies.OrderBy(r => r.DateCreated).First(r => r.DateCreated > viewedDiscussion.ViewedOn).ID.ToString();
				<a class="label label-primary" title="@(unread + " unread repl" + (unread == 1 ? "y" : "ies"))"
				   href="@(Url.Action("Discussion", new { id = discussion.ID }) + unreadAnchor)">@unread</a>
			}
		}
		else
		{
			<a class="label label-primary" title="@("1 unread post and " + unread + " unread repl" + (unread == 1 ? "y" : "ies"))"
			   href="@(Url.Action("Discussion", new { id = discussion.ID }) + unreadAnchor)">@(unread + 1)</a>
		}
	}
}

<script type="text/javascript">

	$(document).ready(function () {
		$("[data-is-watching=True]").each(function (i, o) {
			WireUpUnWatchButton(o);
		});
		$("[data-is-watching=False]").each(function (i, o) {
			WireUpWatchButton(o);
		});
	});

	function WireUpUnWatchButton(btn) {
		btn = $(btn);
		btn.off("click").off("mouseover").off("mouseout");
		btn.parent().off("mouseover").off("mouseout");
		btn.click(function () {
			var discussionID = $(this).attr("data-watch-id");
			$.ajax({
				url: '@Url.Action("UnWatchDiscussion")',
				data: { id: discussionID },
				success: function () {
					btn.removeClass("glyphicon-eye-close").addClass("glyphicon-eye-open");
					WireUpWatchButton(btn);
					btn.tooltip("show");
				}
			});
		});

		btn.mouseover(function () {
			$(this).removeClass("text-muted");
			$(this).removeClass("glyphicon-eye-open");
			$(this).addClass("glyphicon-eye-close");
		});

		btn.mouseout(function () {
			$(this).addClass("text-muted");
			$(this).removeClass("glyphicon-eye-close");
			$(this).addClass("glyphicon-eye-open");
		});

		btn.show();

		btn.tooltip("destroy");
		btn.tooltip({ title: "Stop watching this discussion" });
	}

	function WireUpWatchButton(btn) {
		btn = $(btn);
		btn.hide();
		btn.off("click").off("mouseover").off("mouseout");
		btn.parent().mouseover(function () {
			$(this).children("[data-watch-id]").show();
		}).mouseout(function () {
			$(this).children("[data-watch-id]").hide();
		});

		btn.click(function () {
			var discussionID = $(this).attr("data-watch-id");
			$.ajax({
				url: '@Url.Action("WatchDiscussion")',
				data: { id: discussionID },
				success: function () {
					btn.removeClass("glyphicon-eye-open").addClass("glyphicon-eye-close");
					WireUpUnWatchButton(btn);
					btn.tooltip("show");
				}
			});
		});

		btn.mouseover(function () {
			$(this).removeClass("text-muted");
		});

		btn.mouseout(function () {
			$(this).addClass("text-muted");
		});

		btn.tooltip("destroy");
		btn.tooltip({ title: "Watch this discussion" });
	}

</script>