﻿@model IEnumerable<ForumCategory>
@{
	ViewBag.Title = "Forums";	
}
@section head
{
	<div class="page-header">
		<h2>Forums</h2>
	</div>
}

@foreach (var category in Model.OrderBy(c => c.Name))
{
	@DisplayCategory(category)
}

@helper DisplayCategory(ForumCategory category, bool isChild = false)
{
	if((String.IsNullOrEmpty(category.RestrictedToRole) || User.IsInRole(category.RestrictedToRole))
		&& (!category.MembersOnly || User.Identity.IsAuthenticated))
	{
		<div class="panel panel-default" style="@(isChild ? "margin-bottom: 5px; margin-top: 15px;" : "")">
			<div class="panel-heading">
				<h3 class="panel-title">@category.Name <small>@category.Description</small></h3>
			</div>
			<div class="panel-body">
				@{ int index = 0; }
				@foreach(var forum in category.Forums)
				{ 
					if ((String.IsNullOrEmpty(forum.ViewRole) || User.IsInRole(forum.ViewRole))
						&& (!forum.MembersOnly || User.Identity.IsAuthenticated))
					{
						if(index > 0)
						{
							<hr />
						}
						<div>
							<div class="pull-right text-right">
								<p>
									<span class="label label-default">@forum.Discussions.Count()</span> Discussions &middot;
									<span class="label label-default">@forum.Discussions.Sum(d => d.AllReplies.Count())</span> Replies
								</p>
								@if (forum.Discussions.Count > 0)
								{
									ForumPost latestPost = forum.Discussions.OrderByDescending(d => d.LastActivityDate).FirstOrDefault();
									int discussionID = latestPost.ID;
									if (latestPost.DateCreated != ((Discussion)latestPost).LastActivityDate)
									{
										latestPost = ((Discussion)latestPost).AllReplies.OrderByDescending(r => r.DateCreated).First();
									}
									<span class="text-muted">Last post by @latestPost.Author.DisplayName <a href="@Url.Action("Discussion", new { id = discussionID })">@latestPost.DateCreated.ToRelativeString("on")</a></span>
								}
							</div>
							<h4 style="margin-top: 0px;">
								<a href="@Url.Action("Forum", new { id = forum.ID })">
									@forum.Name
									@RenderUnreadPosts(forum)
								</a>
							</h4>
							<p>@forum.Description</p>
							<div class="clearfix"></div>
						</div>
						index++;
					}
				}
				@foreach (var child in category.ChildCategories.OrderBy(c => c.Name))
				{
					@DisplayCategory(child, true)
				}
			</div>
		</div>
	}
}

@helper RenderUnreadPosts(Forum forum)
{
	if (ViewBag.UnreadCounts.ContainsKey(forum.ID) && ViewBag.UnreadCounts[forum.ID] > 0)
	{
		<span class="label label-primary" title="You have @ViewBag.UnreadCounts[forum.ID] unread @StringHelpers.PluralizeWord("post", ViewBag.UnreadCounts[forum.ID]) in this forum">@ViewBag.UnreadCounts[forum.ID]</span>
	}
}

@section Side
{
	@{ var forumStats = ViewBag.ForumStats as ForumStats; }
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Top Contributors</h3>
		</div>
		<ul class="list-group">
			@if (forumStats.TopContributors.Count == 0)
			{
				<div class="panel-body">
					There are no top contributors to this forum.
				</div>
			}
			@foreach (var contributor in forumStats.TopContributors)
			{
				var user = DisplayUser.GetFromCache(contributor.UserID);
				<li class="list-group-item">
					@Html.ActionLink(user.DisplayName, "MemberProfile", "Members", new { id = user.Id }, null)
					<span class="pull-right"><span class="label label-primary">@contributor.Value</span> Posts</span>
				</li>
			}
		</ul>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Popular Contributors</h3>
		</div>
		@if (forumStats.PopularContributors.Count == 0)
		{
			<div class="panel-body">
				There are no popular contributors to this forum.
			</div>
		}
		<ul class="list-group">
			@foreach (var contributor in forumStats.PopularContributors)
			{
				var user = DisplayUser.GetFromCache(contributor.UserID);
				<li class="list-group-item">
					@Html.ActionLink(user.DisplayName, "MemberProfile", "Members", new { id = user.Id }, null)
					<span class="pull-right"><span class="label label-primary">@contributor.Value</span> Likes</span>
				</li>
			}
		</ul>
	</div>
}