﻿@model NPCPortal.Models.Theme

@{
    ViewBag.Title = "Upload Theme";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<h2>Upload Theme</h2>
</div>

@using (Html.BeginForm("Create", "Themes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
			<label class="control-label col-md-2">Theme File (.zip)</label>
            <div class="col-md-10">
				<input id="ThemeFile" name="ThemeFile" type="file" />
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">

			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label>
						@Html.EditorFor(model => model.IsActive) Is Active
					</label>
					@Html.ValidationMessageFor(model => model.IsActive)
				</div>
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
