﻿@model IEnumerable<NPCPortal.Models.Theme>

@{
    ViewBag.Title = "Themes";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
	@Html.ActionLink("Upload Theme", "Create", null, new { @class = "btn btn-default pull-right" })
	<h2>Themes</h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				Active
			</th>
			<th></th>
		</tr>
	</thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
			@Html.ActionLink(item.IsActive ? "Deactivate" : "Activate", "Switch", new { id = item.IsActive ? 0 : item.ID }) | 
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
