﻿@model NPCPortal.Models.CMSPage
@{
	ViewBag.Title = Model.Title;
}

<div class="page-header">
	<h2>@Model.Title</h2>
</div>

@if(Model.IsHTML)
{
	@Html.Raw(Model.Body)
}
else
{ 
	@Html.Raw(Model.Body.DisplayMarkdown())
}