﻿@model NPCPortal.Models.ForumCategory

@{
	ViewBag.Title = "Delete";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Forum Category</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.RestrictedToRole)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.RestrictedToRole)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MembersOnly)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.MembersOnly)
		</dd>
	</dl>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		if (((IEnumerable<ForumCategory>)ViewBag.Categories).Count() > 0)
		{
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<div class="radio">
						<input type="radio" name="CascadeOption" value="MoveDescendants" checked="checked" /> Move Forums and Posts to
						@Html.DropDownList("MoveToCategoryID",
					((IEnumerable<ForumCategory>)ViewBag.Categories).Select(c => new SelectListItem()
					{
						Text = c.Name,
						Value = c.ID.ToString()
					}), new { @class = "form-control" })
					</div>
				</div>
			</div>
		}

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<div class="radio">
					<input type="radio" name="CascadeOption" value="DeleteDescendants" 
						   @(((IEnumerable<ForumCategory>)ViewBag.Categories).Count() == 0 ? "checked=checked" : "")/> Delete Forums and Posts
				</div>
			</div>
		</div>
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-danger" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-default" })
		</div>
	}
</div>
