﻿@model SiteSetting
@{
    ViewBag.Title = StringHelpers.GetTypeDisplayName(Model);
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<h2>@StringHelpers.GetTypeDisplayName(Model)</h2>
</div>

@using (Html.BeginForm("Save", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
	{
		<div class="alert alert-success">@ViewBag.SuccessMessage</div>
    }
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
	@Html.Partial("_GenericEditor")
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
}