﻿@model ExtendedRegistrationViewModel
@using Recaptcha

<div class="form-group">
	@Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
	<div class="col-md-8">
		@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
	</div>
</div>
@if (!String.IsNullOrEmpty(NPCPortalWeb.RegistrationSettings.RegistrationPassword))
{
	<div class="form-group" style="margin-top: 20px;">
		<label class="col-md-3 control-label" for="RegistrationPassword">Registration Password</label>
		<div class="col-md-8">
			@Html.Password("RegistrationPassword", "", new { @class = "form-control" })
			<span class="help-block">This password should have been supplied to you by an existing member of this site.</span>
		</div>
	</div>
}
@if (NPCPortalWeb.RegistrationSettings.CapchaEnabled && NPCPortalWeb.ReCaptchaSettings != null && !String.IsNullOrEmpty(NPCPortalWeb.ReCaptchaSettings.PublicKey))
{
	<div class="form-group">
		<div class="col-md-8 col-md-offset-3">
			@Html.Raw(Html.GenerateCaptcha("badbots", NPCPortalWeb.ReCaptchaSettings.Theme.ToString().ToLower()))
		</div>
	</div>
}
@foreach (var question in NPCPortalWeb.RegistrationSettings.RegistrationQuestions)
{
	<div class="form-group">
		@if(question.Type == RegistrationQuestionTypes.CheckBox)
		{			
			<div class="col-md-8 col-md-offset-3">
				<label class="checkbox">
					@Html.CheckBox(question.ID.ToString(), 
						Model != null && !String.IsNullOrEmpty(Model.RegistrationAnswers[question.ID.ToString()]) && Model.RegistrationAnswers[question.ID.ToString()] != "false")
					@question.Text
				</label>
			</div>
		}
		else
		{ 
			<label class="col-md-3 control-label" for="@question.ID">@question.Text</label>
			switch (question.Type)
			{
				case RegistrationQuestionTypes.DropDownList:
					<div class="col-md-8">
						@Html.DropDownList(question.ID.ToString(),
							question.Answers.Select(a => new SelectListItem()
							{
								Text = a.AnswerText,
								Value = a.ID.ToString(),
								Selected = Model != null && Model.RegistrationAnswers[question.ID.ToString()] != null && Model.RegistrationAnswers[question.ID.ToString()] == a.ID.ToString()
							}),
							question.Required ? "Select a repsonse" : "",
							question.Required ? (object)new { @class = "form-control", required = "" } : new { @class = "form-control" })
					</div>
					break;
				case RegistrationQuestionTypes.MultiSelect:
					<div class="col-md-8">
						@Html.ListBox(question.ID.ToString(),
							question.Answers.Select(a => new SelectListItem()
							{
								Text = a.AnswerText,
								Value = a.ID.ToString(),
								Selected = Model != null && Model.RegistrationAnswers[question.ID.ToString()] != null && Model.RegistrationAnswers[question.ID.ToString()].Contains(a.ID.ToString())
							}),
							question.Required ? (object)new { @class = "form-control", required = "" } : new { @class = "form-control" })
					</div>
					break;
				case RegistrationQuestionTypes.TextArea:
					<div class="col-md-8">
						@Html.TextArea(question.ID.ToString(),
							Model != null ? Model.RegistrationAnswers[question.ID.ToString()] : null,
							question.Required ? (object)new { @class = "form-control", rows = "5", required = "" } : new { @class = "form-control", rows = "5" })
					</div>
					break;
				case RegistrationQuestionTypes.TextBox:
					<div class="col-md-8">
						@Html.TextBox(question.ID.ToString(),
							Model != null ? Model.RegistrationAnswers[question.ID.ToString()] : null,
							question.Required ? (object)new { @class = "form-control", required = "" } : new { @class = "form-control" })
					</div>
					break;
				default:
					break;
			}
		}
	</div>
}