﻿
@{
    ViewBag.Title = "Forgot Password";
}

<div class="page-header">
	<h2>You forgot your password!?</h2>
	<p>No worries, Boo-koo-zaza. Just type in your User Name or Email and we'll send you a password recovery email.</p>
</div>
@if (!String.IsNullOrEmpty(ViewBag.Success))
{ 
	<div class="alert alert-success">
		@ViewBag.Success
	</div>
}
@if (!String.IsNullOrEmpty(ViewBag.Error))
{ 
	<div class="alert alert-danger">
		@ViewBag.Error
	</div>
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-inline" }))
{
	<div class="form-group">
		<label class="sr-only">User Name</label>
		<input type="text" name="username" class="form-control" placeholder="User Name" />
	</div>
	<div class="form-group">
		OR
	</div>
	<div class="form-group">
		<label class="sr-only">Email</label>
		<input type="text" name="email" class="form-control" placeholder="Email" />
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
}

