﻿@using NPCPortal.Models;
@using Microsoft.AspNet.Identity;
@{
	ViewBag.Title = "Manage " + User.Identity.GetUserName() + "'s Account";
}

<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

@if (!String.IsNullOrEmpty(@ViewBag.StatusMessage))
{ 
	<div class="alert alert-success">@ViewBag.StatusMessage</div>
}
@if (!String.IsNullOrEmpty(@ViewBag.ErrorMessage))
{ 
	<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

		<legend>Email Address</legend>
		@using(Html.BeginForm("ChangeEmail", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
		{
			<div class="form-group">
				<label class="col-md-2 control-label">Email</label>
				<div class="col-md-3">
					<input name="email" type="text" class="form-control" value="@ViewBag.CurrentUser.Email" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-5">
					<button type="submit" class="btn btn-default">Change Email</button>
					@if(!String.IsNullOrEmpty(ViewBag.CurrentUser.Email) && !((User)@ViewBag.CurrentUser).UserState.HasFlag(UserStates.EmailValidated))
					{ 
						<button type="submit" class="btn btn-default">Resend Validation Email</button>
					}
				</div>
			</div>
		}

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
