﻿@model UserSetting
@{
	ViewBag.Title = StringHelpers.GetTypeDisplayName(Model);
}

<div class="row">
	<div class="col-md-12 col-lg-3">
		<ul class="nav nav-pills nav-stacked" style="margin-top: 15px">
			@foreach (var settingsType in UserSetting.GetAllUserSettingsTypes())
			{
				string className = Model.GetType().IsSubclassOf(settingsType) || settingsType.IsInstanceOfType(Model) ? "active" : "";
				<li class="@className"><a href="@Url.Action("Preferences", "Account", new { id = settingsType.Name })">@StringHelpers.GetTypeDisplayName(settingsType)</a></li>
			}
		</ul>
	</div>
	<div class="col-md-12 col-lg-9">
		<div class="page-header">
			<h2>@StringHelpers.GetTypeDisplayName(Model)</h2>
		</div>
		@using (Html.BeginForm("SavePreferences", "Account", FormMethod.Post))
		{
			if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
			{
				<div class="alert alert-success">@ViewBag.SuccessMessage</div>
			}
			@Html.Partial("~/Areas/Admin/Views/Shared/_GenericEditor.cshtml")
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		}
	</div>
</div>