﻿@model NPCPortal.Models.RegisterViewModel

@{
	ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
	<div class="col-md-12">
		@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			<legend>Create a new account.</legend>
			@Html.ValidationSummary()
			<div class="form-group">
				@Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
				<div class="col-md-8">
					@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
				<div class="col-md-8">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
				<div class="col-md-8">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				</div>
			</div>
			@Html.Partial("_ExtendedRegistration")
			<div class="form-group">
				<div class="col-md-offset-3 col-md-10">
					<input type="submit" class="btn btn-primary" value="Register" />
				</div>
			</div>
		}
	</div>
	@*<div class="col-md-4">
		<section id="socialLoginForm">
			@Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
		</section>
	</div>*@
</div>
@section Scripts {
	@*@Scripts.Render("~/bundles/jqueryval")*@
}
