﻿@model NPCPortal.Models.ManageUserViewModel
@{
    ViewBag.Title = "Reset Forgotten Password";
}

<div class="page-header">
	<h2>Reset Your Password</h2>
</div>
@using (Html.BeginForm("ResetForgottenPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()
	<input type="hidden" name="key" value="@ViewBag.ForgotPasswordCode" />
	<div class="form-group">
		@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Set password" class="btn btn-default" />
		</div>
	</div>
}

