﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<h2>Welcome to the Admin</h2>
</div>

<style type="text/css">
	.hero-widget {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

		.hero-widget .icon {
			display: block;
			font-size: 96px;
			line-height: 96px;
			margin-bottom: 10px;
			text-align: center;
		}

		.hero-widget var {
			display: block;
			height: 64px;
			font-size: 64px;
			line-height: 64px;
			font-style: normal;
		}

		.hero-widget label {
			font-size: 17px;
		}

		.hero-widget .options {
			margin-top: 10px;
		}
</style>

<div class="row">
	<div class="col-sm-3">
		<div class="hero-widget well well-sm">
			<div class="icon">
				<i class="glyphicon glyphicon-user"></i>
			</div>
			<div class="text">
				<var>@ViewBag.UserCount</var>
				<label class="text-muted">Users</label>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="hero-widget well well-sm">
			<div class="icon">
				<i class="glyphicon glyphicon-comment"></i>
			</div>
			<div class="text">
				<var>@ViewBag.PostCount</var>
				<label class="text-muted">Posts</label>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="hero-widget well well-sm">
			<div class="icon">
				<i class="glyphicon glyphicon-picture"></i>
			</div>
			<div class="text">
				<var>@ViewBag.ImageCount</var>
				<label class="text-muted">Images</label>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="hero-widget well well-sm">
			<div class="icon">
				<i class="glyphicon glyphicon-file"></i>
			</div>
			<div class="text">
				<var>@ViewBag.FileCount</var>
				<label class="text-muted">Files</label>
			</div>
		</div>
	</div>
</div>