﻿@model NPCPortal.Models.User
@{
	ViewBag.Title = "EmailValidation";
	Layout = "~/Views/Emails/_EmailLayout.cshtml";
	string _validationURL = Url.FullyQualifiedAction("Validate", "Account", new { key = @ViewData["key"] });
}

<h2>Email Validation</h2>
<p>
	Please click the following link to validate your email address.
</p>
<p>
	<a href="@_validationURL">@_validationURL</a>
</p>
<dl>
	<dt>Why should I validate my email address?</dt>
	<dd>
		Validating your email address helps us know if you typed it wrong.
		Having a validated email address will allow you to access super handy services, such as password recovery,
		watched discussion notifications, private user message notifications, as well as website service notifications, etc.
	</dd>
</dl>
