﻿@{
	ViewBag.Title = "Forgot Password";
	Layout = "~/Views/Emails/_EmailLayout.cshtml";
	string forgotURL = Url.FullyQualifiedAction("ResetForgottenPassword", "Account", new { key = @ViewData["key"] });
}

<h2>Did you forget your password?</h2>
<p>
	Oh man! That's embarrassing! No worries, we won't tell anyone. Just click the link below to reset your password to whatever you'd like. Just promise us that next time, you'll be more careful with your passwords.
</p>
<p>
	<a href="@forgotURL">@forgotURL</a>
</p>
<p>
	If you didn't forget your password, and you're wondering why you got this email, contact your site administrator.
</p>
