﻿@model Message
@{
    ViewBag.Title = "Message Alert";
    Layout = "~/Views/Emails/_EmailLayout.cshtml";
}

<h2>Message Alert</h2>
<p>
	@Model.Author.DisplayName has sent you a new message on @ViewData["siteName"]:
</p>
<p>
	<a href="@Url.FullyQualifiedAction("View", "Messages", new { id = Model.InReplyTo != null ? Model.InReplyTo.ID : Model.ID })">@Model.Subject.Display((User)ViewData["recipient"])</a>
</p>
