﻿@model Discussion
@{
    Layout = "~/Views/Emails/_EmailLayout.cshtml";
}

<h2>@Model.Title.Display()</h2>
<p>
	@Html.Raw(StringHelpers.Truncate(Model.Text.StripMarkdown(), 150))
	<a href="@Url.FullyQualifiedAction("Discussion", "Forums", new { id = Model.ID })">more</a>
</p>