﻿@model NPCPortal.Models.User
@{
    ViewBag.Title = "New Users Alert";
    Layout = "~/Views/Emails/_EmailLayout.cshtml";
}

Dear Admin,
<p>
	A new user has signed up on @ViewData["siteName"]. They will not be able to access member-only features until approved.<br/>
	You can approve or reject the registration <a href="@Url.FullyQualifiedAction("Approve", "Users", new { area = "Admin" })">here</a>.
</p>
<p>
	<b>User Info</b>
	<dl>
		<dt style="float: left; width: 160px; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap;">User Name</dt>
		<dd style="margin-left: 180px;">@Model.UserName</dd>
		<dt style="float: left; width: 160px; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap;">Date Joined</dt>
		<dd style="margin-left: 180px;">@Model.DateJoined</dd>
		<dt style="float: left; width: 160px; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap;">Email</dt>
		<dd style="margin-left: 180px;">@Model.Email</dd>
	</dl>
</p>
@if (Model.RegistrationAnswers.Count > 0)
{ 
	<p>
		<b>Registration Info</b>
		<dl>
			@foreach (var response in Model.RegistrationAnswers)
			{
				<dt style="float: left; width: 160px; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap;">@response.Question</dt>
				<dd style="margin-left: 180px;"><span style="white-space:pre-wrap;">@response.Answer</span></dd>
			}
		</dl>
	</p>
}