﻿@model IEnumerable<Discussion>
@{
    Layout = "~/Views/Emails/_EmailLayout.cshtml";	
	User recipient = ViewData["recipient"] as User;
	var sinceWhen = (DateTime)ViewData["sinceWhen"];
}

@{ int count = 0; }
@foreach(var discussion in Model)
{ 
	var lastSeen = recipient.ViewedContent.Where(c => c.Content.ID == discussion.ID).Select(c => c.ViewedOn).SingleOrDefault();
	var unreadPosts = discussion.AllReplies.Where(r => r.DateCreated > sinceWhen && r.DateCreated > lastSeen).OrderBy(r => r.DateCreated);
	var firstPost = unreadPosts.First();
	<p>
		@firstPost.Author.DisplayName
		@if(unreadPosts.Count() > 1)
		{
			<span>and @(unreadPosts.Count() - 1) other people have</span>
		}
		else			
		{
			<span>has</span>
		}
		replied to:
	</p>
	<h3><a href="@(Url.FullyQualifiedAction("Discussion", "Forums", new { id = discussion.ID }) + "#" + firstPost.ID.ToString())">@discussion.Title</a></h3>
	<p>
		@StringHelpers.Truncate(discussion.Text, 150).Display(recipient)
		<a href="@(Url.FullyQualifiedAction("Discussion", "Forums", new { id = discussion.ID }) + "#" + firstPost.ID.ToString())">more</a>
	</p>

	if (count > 0)
	{
		<hr style="border-bottom: 1px solid #eee;" />
	}
	count++;
}