﻿@model Discussion
@{
    Layout = "~/Views/Emails/_EmailLayout.cshtml";	
	var lastReply = Model.Replies.OrderByDescending(r => r.DateCreated).First();
	User recipient = ViewData["recipient"] as User;
}

<p>
	@lastReply.Author.DisplayName has replied to a thread you are watching:
</p>

<h3><a href="@(Url.FullyQualifiedAction("Discussion", "Forums", new { id = Model.ID }) + "#" + lastReply.ID.ToString())">@Model.Title</a></h3>
<p>
	@StringHelpers.Truncate(lastReply.Text, 150).Display(recipient)
	<a href="@(Url.FullyQualifiedAction("Discussion", "Forums", new { id = Model.ID }) + "#" + lastReply.ID.ToString())">more</a>
</p>