﻿@model NPCPortal.Models.Job

@{
	ViewBag.Title = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (Model.Status == JobStatuses.Pending || Model.Status == JobStatuses.Running)
{
	<meta http-equiv="refresh" content="5">
}
<h2>Details</h2>

<div>
    <h4>Job</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arguments)
        </dt>

        <dd>
            <pre>@Html.DisplayFor(model => model.Arguments)</pre>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
			@Model.DateCreated.ToTimeZoneString()
        </dd>

        <dt>
			@Html.DisplayNameFor(model => model.DateCompleted)
        </dt>

        <dd>
			@if (Model.DateCompleted != null)
			{
				@Model.DateCompleted.Value.ToTimeZoneString()
			}
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.ResultMessage)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ResultMessage)
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
