﻿@model IEnumerable<NPCPortal.Models.Job>

@{
	ViewBag.Title = "Jobs";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	var pager = ViewBag.Pager as Pager;
}

@if(Model.Any(j => j.Status == JobStatuses.Pending || j.Status == JobStatuses.Running))
{
	<meta http-equiv="refresh" content="5">
}
<div class="page-header">
	<h2 class="pull-left">Jobs</h2>
	@Html.ActionLink("Clear Jobs", "Clear", null, new { @class = "btn btn-default pull-right", style = "margin-top: 15px" })
	<div class="clearfix"></div>
</div>

<p>
    @*@Html.ActionLink("Create New", "Create") |*@
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateCreated)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateCompleted)
			</th>
			<th></th>
		</tr>
	</thead>
@foreach (var item in Model) {
    <tr>
        <td>
			@if(item.Type != null)
			{ 
				@item.Type.Name
			}
			else
			{
				@item.Name
			}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @item.DateCreated.ToTimeZoneString()
        </td>
        <td>
			@if(item.DateCompleted != null)
			{ 
				@item.DateCompleted.Value.ToTimeZoneString()            
			}
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID })
			@if(User.CanDo(PermissionTypes.RunJobs))
			{ 
				@:|
				@Html.ActionLink("Rerun", "Rerun", new { id = item.ID }, new { onclick="return confirm('Are you sure you want to rerun this job? This usually has unintended consequences!')" })
			}
        </td>
    </tr>
}

</table>

@Html.Partial("_Pager", pager)