﻿@model NPCPortal.Areas.Admin.Controllers.EmailController.BroadcastModel
@{
	ViewBag.Title = "Email Broadcast";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<h2>Email Broadcast</h2>
	<p>This tool allows you to send an email to all users, or users of a specific group.</p>
</div>

@if (!String.IsNullOrEmpty(ViewBag.Success))
{
	<div class="alert alert-success">@ViewBag.Success</div>
}

@if(!String.IsNullOrEmpty(ViewBag.Error))
{
	<div class="alert alert-danger" style="white-space: pre-wrap">@ViewBag.Error</div>
}

@using (Html.BeginForm())
{
	<div class="form-group">
		<label for="Subject">Subject</label>
		@Html.TextBoxFor(m => m.Subject, new { required = "required", @class = "form-control" })
	</div>
	<div class="form-group">
		<label for="Role">Role</label>
		@Html.DropDownListFor(m => m.Role,
				((IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)ViewBag.Roles).Select(r => new SelectListItem() { Text = r.Name, Value = r.Name }),
				"None",
				new { @class = "form-control" })
		<span class="help-block">Leave "None" selected to send to all active users, otherwise select a group to send only to that group.</span>
	</div>
	<div class="form-group">
		<label for="Message">Message</label>
				@Html.TextAreaFor(m => m.Message, new { required = "required", @class = "form-control", rows = "20" })
		<span class="help-block">Supports raw HTML. (Be sure to escape any special HTML characters if necessary: &lt;, &gt; and &amp;)</span>
	</div>
	<div class="checkbox">
		@Html.CheckBoxFor(m => m.TestOnly) Test Only
		<span class="help-block">This will cause the broadcast to be sent only to you.</span>
	</div>
	<button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to send this broadcast?')">Send Broadcast</button>
}
